


<app-breadcrumbs title="" [breadcrumbItems]="breadCrumbItems" ></app-breadcrumbs>

<!-- End Breadcrumbs -->
<div bsModal #showModals="bs-modal" class="modal fade" id="showModals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"> Update Teacher</h5>
                <button type="button" class="btn-close" (click)="showModals.hide()" id="close-modal"></button>
            </div>
            <form class="tablelist-form" [formGroup]="MessageFormData">
                <div class="modal-body">
                    <input type="hidden" name="id" value="" formControlName="ids" />

                    <!-- <div class="mb-3" id="modal-id" style="display: none;">
                        <label for="id-field" class="form-label">ID</label>
                        <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
                    </div> -->
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Name</label>
                        <input type="text"  class="form-control" formControlName="name"  [(ngModel)]="emp.name" placeholder="Enter Name" required />
                    </div>
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Age</label>
                        <input type="number"  class="form-control" formControlName="age"  [(ngModel)]="emp.age" placeholder="Enter Age" required />
                    </div>
                    <div class="mb-3">
                        <label for="date-field" class="form-label">DOB</label>
                        <input type="Date" id="date-field" class="form-control" placeholder="Date Of Birth"  [(ngModel)]="emp.dob" formControlName="date"  formControlName="dob"    >
                        <!-- <div class="invalid-feedback">Please select a date.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> DOJ</label>
                        <input type="Date" id="date-field" class="form-control" placeholder="Date Of Join"  [(ngModel)]="emp.doj"  formControlName="date"  formControlName="doj"  >
                    </div>
                    <div class="mb-3">
                        <label for=" address-field" class="form-label"> Address</label>
                        <input type="address" id="address-field" class="form-control" placeholder="Enter Address" formControlName="address"  [(ngModel)]="emp.address" required />
                    </div>
                    
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Qualification</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Qualification" formControlName="qualification" [(ngModel)]="emp.qualification" required />
                    </div>
                    
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Email</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Email" formControlName="email" [(ngModel)]="emp.email" required />
                    </div>
                    <!-- <div class="mb-3">
                        <label for="phone-field" class="form-label"> Gender</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter gender" formControlName="gender" [(ngModel)]="emp.gender" required />
                    </div> -->
                    <div class="mb-3">
                        <label for="course-category-input" class="form-label">Gender</label>

                        <select class="form-select" id="course-category-input" [(ngModel)]="emp.gender" formControlName="gender" >
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Gender">Gender</option>
                        </select>
                    </div>
                   

                    <div class="mb-3">
                        <label for="course-category-input" class="form-label">Mar. Status</label>

                        <select class="form-select" id="course-category-input" [(ngModel)]="emp.status" formControlName="status" >
                            <option value="Married">Married</option>
                            <option value="Unmarried">Unmarried</option>
                        </select>
                    </div>
                   
                    <!-- <div class="mb-3">
                        <label for="course-category-input" class="form-label">Status<span class="text-danger">*</span></label>

                        <select class="form-select" id="course-category-input"  [(ngModel)]="emp.status" formControlName="Status" >
                            <option value="A">Married</option>
                            <option value="B">Unmarried</option>
                         
                        </select>
                    </div> -->

                    <div class="mb-3">
                        <label for="phone-field" class="form-label">Mobile</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Mobile No." formControlName="phn"  [(ngModel)]="emp.phn" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Photo</label>
                        <div class="d-flex no-block justify-content-left align-items-left">
                            <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                                <div class="text-left">
                                    <img [src]="image_path || emp.img" width="200px" height="150px" (click)="fileUploader.click()">
                                </div>
                            </div>
                            
                            
                            <div>
                                <div class="form-group justify-content-center">
                                    <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                  
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="showModals.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <!-- <button type="button" class="btn btn-light" (click)="showModals.hide()">Close</button> -->
                        <button type="submit" class="btn btn-success" id="add-btn" (click)="update(emp.id)">Update</button>
                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div bsModal #deleteRecordModal="bs-modal" class="modal fade" id="deleteRecordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"> Add Teacher</h5>
                <button type="button" class="btn-close" (click)="deleteRecordModal.hide()" id="close-modal"></button>
            </div>
            <form class="tablelist-form" [formGroup]="MessageFormData">
                <div class="modal-body">
                    <input type="hidden" name="id" value="" formControlName="ids" />

<!--               
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Rec.No</label>
                        <input type="text"  class="form-control" formControlName="number"  [(ngModel)]="emp.name" placeholder="Rec.No" required />
                    </div> -->

                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Name</label>
                        <input type="text"  class="form-control" formControlName="name"  [(ngModel)]="emp.name" placeholder="Enter Name" required />
                    </div>
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Age</label>
                        <input type="number"  class="form-control" formControlName="age"  [(ngModel)]="emp.age" placeholder="Enter Age" required />
                    </div>
                    <div class="mb-3">
                        <label for="date-field" class="form-label">DOB</label>
                        <input type="Date" id="date-field" class="form-control" placeholder="Date Of Birth"  [(ngModel)]="emp.dob" formControlName="date"  formControlName="dob"    >
                        <!-- <div class="invalid-feedback">Please select a date.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> DOJ</label>
                        <input type="Date" id="date-field" class="form-control" placeholder="Date Of Join"  [(ngModel)]="emp.doj" formControlName="date"  formControlName="doj"  >
                    </div>
                    <div class="mb-3">
                        <label for=" address-field" class="form-label"> Address</label>
                        <input type="address" id="address-field" class="form-control" placeholder="Enter Address" formControlName="address"  [(ngModel)]="emp.address" required />
                    </div>
                    
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Qualification</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Qualification" formControlName="qualification" [(ngModel)]="emp.qualification" required />
                    </div>
                    
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Email</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Email" formControlName="email" [(ngModel)]="emp.email" required />
                    </div>
                    <!-- <div class="mb-3">
                        <label for="phone-field" class="form-label"> Gender</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter gender" formControlName="gender" [(ngModel)]="emp.gender" required />
                    </div> -->
                    <div class="mb-3">
                        <label for="course-category-input" class="form-label">Gender</label>

                        <select class="form-select" id="course-category-input" [(ngModel)]="emp.gender" formControlName="gender" >
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Gender">Gender</option>
                        </select>
                    </div>
                   
                    <div class="mb-3">
                        <label for="course-category-input" class="form-label">Mar. Status</label>

                        <select class="form-select" id="course-category-input" [(ngModel)]="emp.status" formControlName="status" >
                            <option value="Married">Married</option>
                            <option value="Unmarried">Unmarried</option>
                        </select>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="course-category-input" class="form-label">Status<span class="text-danger">*</span></label>

                        <select class="form-select" id="course-category-input"  [(ngModel)]="emp.status" formControlName="Status" >
                            <option value="A">Married</option>
                            <option value="B">Unmarried</option>
                         
                        </select>
                    </div> -->

                    <div class="mb-3">
                        <label for="phone-field" class="form-label">Mobile</label>
                        <input type="number" id="phone-field" class="form-control" placeholder="Enter Mobile No." formControlName="phn"  [(ngModel)]="emp.phn" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Photo</label>
                        <div class="d-flex no-block justify-content-left align-items-left">
                            <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                                <div class="text-left">
                                    <img [src]="image_path || emp.img" width="100px" height="100px" (click)="fileUploader.click()">
                                </div>
                            </div>
                            
                            
                            <div>
                                <div class="form-group justify-content-center">
                                    <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                  
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" (click)="deleteRecordModal.hide()">Close</button>
                        <button type="submit" class="btn btn-success" id="add-btn" (click)="save()">Add </button>
                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div bsModal #showModals1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Image Preview</h2>
            <button type="button" class="btn-close" (click)="showModals1.hide()" id="close-modal">
            
          </button>
        </div>
        <div class="modal-body align-items-center justify-content-center text-center">
          <img *ngIf="selectedPreviewImage" [src]="selectedPreviewImage" class="img-fluid" alt="Preview" style="max-width: 100%; max-height: 100%; display: inline-block;">
        </div>
      </div>
    </div>
  </div>
 
<div>
<div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Teachers List </h4>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="search-box ms-2">
                                <input type="text"  class="form-control search order-last order-md-first" [(ngModel)]="searchTerm" placeholder="Search by Name" (input)="filteredTeacher($event)" >
                                <i class="ri-search-line search-icon"></i>
                            </div>
                            </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div>
                                    <button type="button" class="btn btn-info add-btn me-2" id="create-btn" (click)="add()"><i class="ri-add-line align-bottom me-1"></i>
                                        Add</button>
                                        <button type="button" class="btn btn-info add-btn me-2" id="create-btn" ><i class="ri-add-line align-bottom me-1"></i>
                                            Import</button>
                                    <!-- <button class="btn btn-subtle-danger" (click)="deleteModal.show()"><i class="ri-delete-bin-2-line"></i></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loading" class="text-center">
                        
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <p>Loading...</p>
                      </div>
                    <div *ngIf="!loading" class="table-responsive table-card mt-3 mb-1">
                        <table class="table align-middle table-nowrap" id="customerTable">
                            <thead class="table-light">
                                <tr>
                                   
                                    <th class="sort" listsortable="customer_name" >Name
                                    </th>
                                    <th class="sort" listsortable="customer_name" >Age
                                    </th>
                                    <th class="sort" listsortable="customer_name" >Photo
                                    </th>
                                    <th class="sort" listsortable="email">DOB</th>
                                    <th class="sort" listsortable="email">DOJ</th>
                                    <th class="sort" listsortable="email">Address</th>
                                    <th class="sort" listsortable="date" > Gender</th>
                                    <th class="sort" listsortable="email" >Mar. Status</th>
                                    <th class="sort" listsortable="date" > Qualification</th>
                                    <th class="sort" listsortable="email" > Email</th>
                                   
                                    
                                    <th class="sort" listsortable="phone" >Phone</th>
                                    <!-- <th class="sort " listsortable="status" (listsort)="onSort($event)">Delivery Status
                                    </th>-->
                                    <th class="sort">Action</th> 
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr *ngFor="let data of filteredTeachers;let i = index;" id="a_{{data.id}}">
                                   
                                    <td class="customer_name"><a [routerLink]="['/addressbook/teacher-detail',{teacherid:data.id}]"> {{data.name}}</a> </td>
                                    <td class="customer_name">{{data.age}}</td>
                                    <td class="picture">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 " style="height: 50px; width: 50px;">
                                                <img src={{data.img}} alt="" (click)="showImagePreview(data.img)" class="img-fluid d-block  " style="object-fit: cover; width: 100%; height: 100%;">
                                            </div>
                                          
                                        </div>
                                    </td>
                                    <td class="date">{{data.dob | date: 'dd/MM/yyyy'}}</td>
                                    <td class="date">{{data.doj | date: 'dd/MM/yyyy'}}</td>
                                    <td class="date">{{data.address}}</td>
                                    <td class="phone">{{data.gender}}</td>
                                    <td class="phone">{{data.status}}</td>
                                    <td class="date">{{data.qualification}}</td>
                                    <td class="customer_name">{{data.email}}</td>
                                   
                                    <td class="phone">{{data.phn}}</td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <div class="edit">
                                                <button class="btn btn-sm btn-success edit-item-btn" (click)="editTeacher(i)">Edit</button>
                                            </div>
                                            <div class="remove">
                                                <button class="btn btn-sm btn-danger remove-item-btn" (click)="deletpop(data.id)">Remove</button>
                                            </div>
                                        </div>
                                    </td>
                                
                            </tbody>
                        </table>
                       
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <pagination class="pagination-wrap hstack gap-2" [totalItems]="10" [itemsPerPage]="30" ></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
   

<!-- <div bsModal #deleteModal="bs-modal" class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" (click)="deleteModal.hide()" id="btn-close"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-base mx-4 mx-sm-5">
                            <h4>Are you Sure ?</h4>
                            <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" (click)="deleteModal.hide()">Close</button>
                        <button type="button" class="btn w-sm btn-danger " (click)="delet(deleteId)" id="delete-record">Yes, Delete It!</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div id="deleteRecordModal" class="modal fade zoomIn" bsModal #deleteModal="bs-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteModal.hide()"></button>
                </div>
                <div class="modal-body p-md-5">
                    <div class="text-center">
                        <div class="text-danger">
                            <i class="bi bi-trash display-4"></i>
                        </div>
                        <div class="mt-4">
                            <h3 class="mb-2">Are you sure ?</h3>
                            <p class="text-muted fs-lg mx-3 mb-0">Are you sure you want to remove this record ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteModal.hide()">Close</button>
                        <button type="button" class="btn w-sm btn-danger btn-hover" id="delete-record" (click)="delet(deleteId)">Yes, Delete It!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>