


<app-breadcrumbs title="" [breadcrumbItems]="breadCrumbItems" ></app-breadcrumbs>

<div class="modal fade" bsModal #showModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Map</h5>
                <button type="button" class="btn-close" (click)="showModal.hide()"></button>
            </div>
   
          
            <div class="modal-body">
                <input type="hidden" name="id" value="" formControlName="ids" />

                <div  class="col-md-12 px-4">
                    <label for="course-category-input" class="form-label">Route. No.</label>
                    <div class="input-group">
                      <select id="van-select" class="form-select" [(ngModel)]="selectedRouteNo" (change)="Selectedrouteid()" >
                        <option value="" disabled selected>Select Route. No.</option>
                        <option *ngFor="let additem of map" [value]="additem.rno">
                          {{ additem.rno }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
                <div class="col-md-12 px-4">
                    <label for="van-select" class="form-label">Select Van No.</label>
                    <div class="input-group">
                      <select id="van-select" class="form-select" [(ngModel)]="selectedRegNo" (change)="updateSelectedPic()">
                        <option value="" disabled>Select Van No.</option>
                        <option *ngFor="let van of Vans" [value]="van.regno">
                          {{ van.regno }}
                        </option>
                      </select>
                    </div>

                    <div class="container"  *ngIf="selectedRegNo">
                        <div class="row">
                        
                          <div class="col-md-6">
                            <div class="p-2">
                                <div class="avatar-xs bg-light rounded p-1" style="height: 100px; width: 100px;">
                                  <img *ngIf="selectedPic" [src]="selectedPic" alt="" class="img-fluid d-block" style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                              </div>
                         
                          </div>
                      
                          <div class="col-md-6">
                            <div class="p-2">
                                <div>Make Year:          {{ selectedYear | date: 'dd-MM-yyyy' }}</div>
                                <div>Total Seats:        {{ Seat }}</div>
                                <div>Diesel Level(ltrs): {{ Diesel }}</div>
                              </div>
                            
                          </div>
                        </div>
                      </div>
                  </div>
                  
                  <div class="col-md-12 px-4">
                    <label for="van-select" class="form-label">Driver Name</label>
                    <div class="input-group">
                      <select id="van-select" class="form-select" [(ngModel)]="selectedDriver" (change)="updateSelectedDriverPic()">
                        <option value="" disabled>Select Driver Name</option>
                        <option *ngFor="let additem of Drivers" [value]="additem.name">
                          {{ additem.name}}
                        </option>
                      </select>
                    </div>

                    <div class="container" *ngIf="selectedDriver" >
                        <div class="row">
                        
                          <div class="col-md-6">
                            <div class="p-2">
                                <div class="avatar-xs bg-light rounded p-1" style="height: 100px; width: 100px;">
                                  <img *ngIf="selectedDriverPic" [src]="selectedDriverPic" alt="" class="img-fluid d-block" style="object-fit: cover; width: 100%; height: 100%;">
                                </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="p-2">
                                <div> Age:  {{year}}</div>
                                <div>Town:  {{ town }}</div>
                                <div>Phone: {{ phone }}</div>
                              </div>
                            
                          </div>
                        </div>
                      </div>
                  </div>


            </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" (click)="showModal.hide()">Close</button>
                        <button type="submit" class="btn btn-success" id="add-btn" (click)=" update()">Map</button>
                    </div>
                </div>
           
        </div>
      
    </div>
  </div>

  <!-- <div class="modal fade" bsModal #editModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Update Van</h5>
                <button type="button" class="btn-close" (click)="editModal.hide()"></button>
            </div>
   
            <form  class="tablelist-form" [formGroup]="MessageFormData">
                <div class="modal-body">
                    <input type="hidden" name="id" value="" formControlName="ids" />
                    
              
                     <div class="mb-3">
                        <label for="customername-field" class="form-label"> Reg. No.</label>
                        <input type="text"  class="form-control" formControlName="regno"   placeholder="Reg. No." required />
                    </div>
                    <div class="mb-3">
                        <label for="date-field" class="form-label">Make year</label>
                        <input type="Date" id="date-field" class="form-control" placeholder="Enter Year"    formControlName="year"    >
                       
                    </div>
                    
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Total Seats</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Total Seats" formControlName="seats"  required />
                    </div>
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Diesel Level(ltrs)</label>
                        <input type="number" id="phone-field" class="form-control" placeholder="Enter Diesel Level(ltrs)" formControlName="disel"  required />
                    </div>
                  
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="editModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn" >Update</button>
                    </div>
                </div>
            </form>
        </div>
       
    </div>
</div> -->



<div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"> Map Route No. & Van & Driver</h4>
            </div>
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="search-box ms-2">
                                <input type="text" class="form-control search" placeholder="Search Route No." [(ngModel)]="searchMap"    (input)="filteredMap($event)" >
                                <i class="ri-search-line search-icon"></i>
                            </div>
                            </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div>
                                    <button type="button" class="btn btn-info add-btn me-2" id="create-btn" (click)="showModal.show()"><i class="ri-add-line align-bottom me-1"></i>
                                        Map</button>
                                        
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table table-hover table-striped align-middle table-nowrap mb-0" id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    <th class="sort" listsortable="email">Route No.</th>
                                    <th class="sort" listsortable="email">Van Reg. No.</th>
                                    <th class="sort" listsortable="email">Driver Name</th>
                                    <!-- <th class="sort">Action</th> -->

                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr *ngFor="let data of filteredMaps || filteredVans ;let i = index;" >
                                    <td class="date"><a [routerLink]="['/van/routes',{routeno:data.rno}]">{{data.rno }}</a></td>
                                    <td class="customer_name"><a [routerLink]="['/van/vandetail',{van:data.vanid}]">{{getvanName(data.vanid)}}</a> </td>
                                    <td class="date"><a [routerLink]="['/addressbook/driver-detail',{driverid:data.driverid}]" >{{getDriverName(data.driverid)}}</a>   </td>
                                    <!-- <td>
                                  <div class="d-flex gap-2">
                                      <div class="edit">
                                          <button class="btn btn-sm btn-success edit-item-btn" (click)="showModal.show()" >Edit</button>
                                      </div>
                                      <div class="remove">
                                          <button class="btn btn-sm btn-danger remove-item-btn">Remove</button>
                                      </div>
                                  </div>
                              </td> -->
                            </tbody>
                        </table>
                       
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <pagination class="pagination-wrap hstack gap-2" [totalItems]="10" [itemsPerPage]="30" ></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
   
