


<app-breadcrumbs title="" [breadcrumbItems]="breadCrumbItems" ></app-breadcrumbs>

<div class="modal fade" bsModal #showModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Map</h5>
                <button type="button" class="btn-close" (click)="showModal.hide()"></button>
            </div>
   
           <form class="tablelist-form" [formGroup]="MessageFormData">
            <div class="modal-body">
                <input type="hidden" name="id" value="" formControlName="ids" />
                <div class="mb-3">
                    <label for="course-category-input" class="form-label">Route. No.</label>


                    <select class="form-select" id="course-category-input" formControlName="section" >
                        <option value="A">101</option>
                        <option value="B">102</option>
                        <option value="C">103</option>
                        <option value="D">104</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="course-category-input" class="form-label">Van No.</label>


                    <select class="form-select" id="course-category-input" formControlName="section" >
                        <option value="A">THHB5667765</option>
                        <option value="B">THYB5667000</option>
                        <option value="C">TPHB5007765</option>
                        <option value="D">TUHB5669562</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="course-category-input" class="form-label">Driver Name</label>


                    <select class="form-select" id="course-category-input" formControlName="section" >
                        <option value="A">kumar</option>
                        <option value="B">Varun</option>
                        <option value="C">muthu</option>
                        <option value="D">mani</option>
                    </select>
                </div>
            
              

            </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" (click)="showModal.hide()">Close</button>
                        <button type="submit" class="btn btn-success" id="add-btn" (click)="showModal.hide()">Map</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
  </div>
  <div class="modal fade" bsModal #editModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Update Van</h5>
                <button type="button" class="btn-close" (click)="editModal.hide()"></button>
            </div>
   
            <form  class="tablelist-form" [formGroup]="MessageFormData">
                <div class="modal-body">
                    <input type="hidden" name="id" value="" formControlName="ids" />
                    
              
                     <div class="mb-3">
                        <label for="customername-field" class="form-label"> Reg. No.</label>
                        <input type="text"  class="form-control" formControlName="regno"   placeholder="Reg. No." required />
                    </div>
                    <div class="mb-3">
                        <label for="date-field" class="form-label">Make year</label>
                        <input type="Date" id="date-field" class="form-control" placeholder="Enter Year"    formControlName="year"    >
                       
                    </div>
                    
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Total Seats</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Total Seats" formControlName="seats"  required />
                    </div>
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Diesel Level(ltrs)</label>
                        <input type="number" id="phone-field" class="form-control" placeholder="Enter Diesel Level(ltrs)" formControlName="disel"  required />
                    </div>
                  
                   

                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="editModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn" >Update</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
  </div>

<div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"> Map List </h4>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="search-box ms-2">
                                <input type="text" class="form-control search" placeholder="Search Route No." >
                                <i class="ri-search-line search-icon"></i>
                            </div>
                            </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div>
                                    <button type="button" class="btn btn-info add-btn me-2" id="create-btn" (click)="showModal.show()"><i class="ri-add-line align-bottom me-1"></i>
                                        Map</button>
                                        
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table table-hover table-striped align-middle table-nowrap mb-0" id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    
                                    <th class="sort" listsortable="email">Route No.</th>
                                    
                                    <th class="sort" listsortable="email">Van Reg. No.</th>
                                    <th class="sort" listsortable="email">Driver Name</th>
                                 
                                   
                                    <th class="sort">Action</th>

                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr>

                                    <td class="date">101</td>
                                    <td class="customer_name">THHB5667765</td>
                                    <td class="date">kumar</td>
                                   
                                    <td>
                                  <div class="d-flex gap-2">
                                      <div class="edit">
                                          <button class="btn btn-sm btn-success edit-item-btn" >Edit</button>
                                      </div>
                                      <div class="remove">
                                          <button class="btn btn-sm btn-danger remove-item-btn">Remove</button>
                                      </div>
                                  </div>
                              </td>
                            </tbody>
                        </table>
                       
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <pagination class="pagination-wrap hstack gap-2" [totalItems]="10" [itemsPerPage]="30" ></pagination>
                        </div>
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>
   
