
<div class="col-xxl-12">
    <h5 class="mb-3">Student Details </h5>
    <div class="card">
        <div class="card-body">
            <p class="text-muted">Use <code>[justified]="true"</code> attribute to generate equal-width elements
                without borders, all horizontal space will be occupied by nav links.</p>
           
            <tabset type="pills" [justified]="true" class="mb-3" role="tablist">
                <tab heading="Home" class="nav-item">
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            Raw denim you probably haven't heard of them jean shorts Austin.
                            Nesciunt tofu stumptown aliqua, retro synth master cleanse.
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            Too much or too little spacing, as in the example below, can make things unpleasant for
                            the reader. The goal is to make your text as comfortable to read as possible.
                        </div>
                    </div>
                </tab>
                <tab heading="Profile" class="nav-item">
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            In some designs, you might adjust your tracking to create a certain artistic effect. It
                            can also help you fix fonts that are poorly spaced to begin with.
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings
                            of spring which I enjoy with my whole heart.
                        </div>
                    </div>
                </tab>
                <tab heading="Messages" class="nav-item">
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            Each design is a new, unique piece of art birthed into this world, and while you have
                            the opportunity to be creative and make your own style choices.
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            For that very reason, I went on a quest and spoke to many different professional graphic
                            designers and asked them what graphic design tips they live.
                        </div>
                    </div>
                </tab>
                <tab heading="Settings" class="nav-item">
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            For that very reason, I went on a quest and spoke to many different professional graphic
                            designers and asked them what graphic design tips they live.
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            After gathering lots of different opinions and graphic design basics, I came up with a
                            list of 30 graphic design tips that you can start implementing.
                        </div>
                    </div>
                </tab>
            </tabset>
    </div>
</div>