<div bsModal #deleteRecordModal="bs-modal" class="modal fade" id="deleteRecordModal" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 1000px;">
        <div class="modal-content border-0">
            <div class="modal-header bg-danger p-3">
                <h5 class="modal-title text-white" id="deleteRecordModal">Comprehension Report</h5>
                <button type="button" class="btn-close btn-close-white" (click)="deleteRecordModal.hide()"></button>
            </div>
            <div class="modal-body" style="max-height: 800px; overflow-y: auto;">
                <input type="hidden" name="id" value="" formControlName="ids" />
                <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                <input type="hidden" id="id-field">

                <form [formGroup]="MessageFormData">

                    <div class="mb-2">
                        <label for="no" class="form-label "><span style="color: #3762ea;">No :</span> {{emp.no}}</label>

                    </div>

                    <div class="mb-2">
                        <label for="title" class="form-label"><span style="color: #3762ea;">Title :</span>
                            {{emp.title}}</label>
                    </div>
                    <div class="mb-2">
                        <div class="form-label " style="color: #3762ea;">Paragraph :</div>
                        <label for="paragraph" class="form-label" [innerHTML]="emp.paragraph"></label>
                    </div>


                </form>

                <div *ngFor="let question of emp.questions; let i = index" class="">
                   
                    <div  *ngFor="let data of scoreform" >
                       
                        <label for="qstn{{ i }}" class="form-label pt-1" style="color: #3762ea;">Question {{ i + 1 }}</label>
                        
                         <div *ngIf="question.qtype=='MCQA'">

                        <div class="row-md-12">
                            <div class="mb-1">{{question.qstn}}</div>
                            <label class=" ms-2 col-md-2"
                                [ngStyle]="{
                    'background-color': data.stuanswer[i] === data.answers[i] && data.answers[i] === 'a' ? '#5ced73' :
                                        (data.stuanswer[i] !== data.answers[i] && data.stuanswer[i] === 'a' ? '#fb6767' :
                                         (data.stuanswer[i] !== data.answers[i] && data.answers[i] === 'a' ? '#5ced73' : '')),}"> A.
                                {{question.a}}</label>

                            <label class="ms-2 col-md-2" [ngStyle]="{
    'background-color': data.stuanswer[i] === data.answers[i] && data.answers[i] === 'b' ? '#5ced73' :
                        (data.stuanswer[i] !== data.answers[i] && data.stuanswer[i] === 'b' ? '#fb6767' :
                         (data.stuanswer[i] !== data.answers[i] && data.answers[i] === 'b' ? '#5ced73' : ''))}"> B.
                                {{question.b}}</label>


                            <label class="ms-2 col-md-2" [ngStyle]="{
    'background-color': data.stuanswer[i] === data.answers[i] && data.answers[i] === 'c' ? '#5ced73' :
                        (data.stuanswer[i] !== data.answers[i] && data.stuanswer[i] === 'c' ? '#fb6767' :
                         (data.stuanswer[i] !== data.answers[i] && data.answers[i] === 'c' ? '#5ced73' : '')),}"> C.
                                {{question.c}}</label>


                            <label class=" ms-2 col-md-2" [ngStyle]="{
    'background-color': data.stuanswer[i] === data.answers[i] && data.answers[i] === 'd' ? '#5ced73' :
                        (data.stuanswer[i] !== data.answers[i] && data.stuanswer[i] === 'd' ? '#fb6767' :
                         (data.stuanswer[i] !== data.answers[i] && data.answers[i] === 'd' ? '#5ced73' : '')), }"> D.
                                {{question.d}}</label>


                        </div>
                    </div>
                        <div *ngIf="question.qtype=='Input'">
                            <div class="mb-1">{{question.qstn}}</div>
                            <div class="mb-1 d-flex"> Answer : <span   [ngStyle]="{
                                'background-color': data.stuanswer[i].toLowerCase() === data.answers[i].toLowerCase()  && data.answers[i].toLowerCase()   ? '#5ced73' :
                                                    (data.stuanswer[i].toLowerCase() !== data.answers[i].toLowerCase() && data.stuanswer[i].toLowerCase()  ? '#fb6767' :
                                                     (data.stuanswer[i].toLowerCase() !== data.answers[i].toLowerCase() && data.answers[i] .toLowerCase()? '#5ced73' : '')), }">{{data.stuanswer[i]}} </span>
                            <div class="px-2" *ngIf="data.stuanswer[i].toLowerCase() !== data.answers[i].toLowerCase() && data.answers[i].toLowerCase()"> Correct Answer : <span [ngStyle]="{
                                'background-color': data.answers[i].toLowerCase() === data.answers[i].toLowerCase() && data.answers[i] .toLowerCase() ? '#5ced73' :
                                                    (data.answers[i].toLowerCase() !== data.answers[i].toLowerCase() && data.stuanswer[i].toLowerCase()  ? '#fb6767' :
                                                     (data.answers[i].toLowerCase() !== data.answers[i].toLowerCase() && data.answers[i].toLowerCase() ? '#5ced73' : '')), }"> {{data.answers[i]}}</span></div></div>
                          </div>

                      
                    
                </div>
                
                    <div class="p-2 align-items-center">  <div class="card-body  border-top border-dashed black hstack align-items-center"> </div></div>
                  
                </div>
              


            </div>
        </div>
    </div>
</div>



<div class="col-xxl-12">
    <div class="d-flex align-items-center">
        <a [routerLink]="['/addressbook/student']">
            <i class="ri-arrow-left-circle-fill" style="font-size: 1.7rem;"></i>
        </a>
        <h5 class="px-3 mb-0">{{name}}, {{standard}} {{section}}</h5>
    </div>

    <div class="card">
        <div class="card-body">


            <tabset type="pills" [justified]="true" class="mb-3" role="tablist"  [(ngModel)]="selectedTab" >
                <tab heading="Profile" class="nav-item" [active]="selectedTab === 1">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card overflow-hidden">
                                <div class="row g-0">
                                    <div class="col-xl-3 col-md-4">
                                        <div class="card-body   h-100">
                                            <img src="{{image}}" alt=""
                                                style="object-fit: cover; width: 100%; height: 100%; aspect-ratio: 1/1;">
                                        </div>

                                    </div>
                                    <div class="col-xl-9 ">
                                        <div class="card-body">

                                            <h4 class="text-truncate text-capitalize">{{name}}</h4>
                                            <div class="d-flex py-1 tb-fond-md">
                                                <span class="text-muted">  Rec. No. :  </span>  <span class=" px-1"> {{rec_no}}</span> 
                                            </div>
                                            <div class="d-flex py-1 tb-fond-md">
                                                <span class="text-muted">    Standard :  </span>  <span class=" px-1"> {{standard}}</span> 
                                            </div>
                                            <div class="d-flex py-1 tb-fond-md">
                                                <span class="text-muted">  Section :  </span>  <span class=" px-1"> {{section}} </span> 
                                            </div>
                                            <div class="d-flex py-1 tb-fond-md">
                                                <span class="text-muted"> Date of birth : </span>  <span class=" px-1"> {{Dob | date: 'dd/mm/yy'}}</span> 
                                            </div>
                                            <div class="d-flex py-1 tb-fond-md">
                                                <span class="text-muted">  Parent Name : </span>  <span class=" px-1">  {{parentname}}</span> 
                                            </div>
                                            <div class="d-flex py-1 tb-fond-md">
                                                <span class="text-muted"> Address : </span>  <span class=" px-1">  {{address}}</span> 
                                            </div>
                                            


                                        </div>
                                        <div class="card-body border-top border-dashed hstack align-items-center gap-2">

                                            <div class="flex-shrink-0">
                                                <span class="badge bg-warning-subtle text-warning"><i
                                                        class="bi bi-star-fill align-baseline me-1"></i> Student</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </tab>


                <tab heading="Report" class="nav-item" [active]="selectedTab === 2">
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            In some designs, you might adjust your tracking to create a certain artistic effect. It
                            can also help you fix fonts that are poorly spaced to begin with.
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings
                            of spring which I enjoy with my whole heart.
                        </div>
                    </div>
                </tab>

                <tab heading="Behaviour" class="nav-item" [active]="selectedTab === 3">
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            Each design is a new, unique piece of art birthed into this world, and while you have
                            the opportunity to be creative and make your own style choices.
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            For that very reason, I went on a quest and spoke to many different professional graphic
                            designers and asked them what graphic design tips they live.
                        </div>
                    </div>
                </tab>
                <tab heading="KG Sheet" class="nav-item" [active]="selectedTab === 4">
                    <table class="table table-hover table-striped align-middle table-nowrap mb-0" id="customerTable">
                        <thead class="table-light">
                            <tr>
                                <th class="sort" listsortable="customer_name">No.
                                </th>
                                <th class="sort" listsortable="email">Title</th>
                                <th class="sort" listsortable="customer_name">Total Question
                                </th>
                                <th class="sort" listsortable="customer_name">Total Attended
                                </th>
                              

                            </tr>
                        </thead>
                        <tbody class="list form-check-all">
                            <tr *ngFor="let data of kgsheet let i=index;">
                                <td class="date">{{i+1}}</td>
                                <td class="date">{{ getlist(data.kgtestid)}}</td>

                                <td style="margin-left: 10px;">{{data.answers.length}}</td>
                                <td class="AssignToContainer">
                                    <div style="margin-left: 10px;">{{data.totalatnd}}</div>
                                </td>

                        </tbody>
                    </table>
                </tab>
                <tab heading="Comprehension" class="nav-item" [active]="selectedTab === 5">
                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table table-hover table-striped align-middle table-nowrap mb-0"
                            id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    <th class="sort" listsortable="customer_name">No.
                                    </th>
                                    <th class="sort" listsortable="email">Title</th>
                                    <th class="sort" listsortable="customer_name">Total Question
                                    </th>
                                    <th class="sort" listsortable="customer_name">Correct Answer
                                    </th>
                                    <th class="sort" listsortable="customer_name">Details
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr *ngFor="let data of score let i=index;">
                                    <td class="date">{{getcompno( data.compid)}}</td>
                                    <td class="date">{{getcomp( data.compid)}}</td>
                                    <td>
                                        <div style="margin-left: 50px;">{{getcompqute(data.compid)}}</div>
                                    </td>
                                    <td class="AssignToContainer">
                                        <div style="margin-left: 50px;">{{data.crtans}}</div>
                                    </td>
                                    <td class="bi bi-eye align-baseline me-1" style="font-size: 1.7rem;"
                                        (click)="editComprehension(data.compid,i)"></td>

                            </tbody>
                        </table>

                    </div>
                </tab>
                <tab heading="Fees" class="nav-item" [active]="selectedTab === 6">
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            For that very reason, I went on a quest and spoke to many different professional graphic
                            designers and asked them what graphic design tips they live.
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            After gathering lots of different opinions and graphic design basics, I came up with a
                            list of 30 graphic design tips that you can start implementing.
                        </div>
                    </div>
                </tab>
                <tab heading="Van" class="nav-item" [active]="selectedTab === 7">
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            Each design is a new, unique piece of art birthed into this world, and while you have
                            the opportunity to be creative and make your own style choices.
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <div class="flex-shrink-0">
                            <i class="ri-checkbox-circle-fill text-success"></i>
                        </div>
                        <div class="flex-grow-1 ms-2">
                            For that very reason, I went on a quest and spoke to many different professional graphic
                            designers and asked them what graphic design tips they live.
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>