<!-- <table class="table table-hover table-striped align-middle table-nowrap mb-0" id="customerTable">
    <thead class="table-light">
        <tr>
           
            <th class="sort" listsortable="email">R. No.</th>
            <th class="sort" listsortable="date" >Start</th>
            <th class="sort" listsortable="email">Stop 1</th>
            <th class="sort" listsortable="email">Stop 2</th>
            <th class="sort" listsortable="email">Stop 3</th>
            <th class="sort" listsortable="email">Route Details</th>
            <th class="sort" listsortable="customer_name" >Destination
            </th>
            

        </tr>
    </thead>
    <tbody class="list form-check-all">
        <tr *ngFor="let data of routedetail;let i = index;" >
            <td class="date">{{data.rno}}</td>
            <td class="customer_name">{{data.start}}</td>
            <td class="date">{{data.stop1}}</td>
            <td class="date">{{data.stop2}}</td>
            <td class="date">{{data.stop3}}</td>
            <td class="customer_name">{{data.routedetails}}</td>
            <td class="date">{{data.desti}}</td>
            <td>
        
      </td>
    </tbody>
</table> -->
<div class="col-xxl-12">
    <div class="d-flex align-items-center">
        <a (click)="goBack()">
            <i class="ri-arrow-left-circle-fill" style="font-size: 1.7rem;"></i>
        </a>
        <h5 class="px-3 mb-0">Route Details</h5>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card overflow-hidden">
                        <div class="row g-0" *ngFor="let data of routedetail;let i = index;">

                            <div class="col-xl-12 ">
                                <div class="card-body">

                                    <h4 class="text-truncate text-capitalize">{{data.rno}}</h4>
                                    <div class="d-flex py-1 text-muted tb-fond-md">
                                        Start : {{data.start}}
                                    </div>
                                    <div class="d-flex py-1 text-muted tb-fond-md">
                                        Stop1 : {{data.stop1}}
                                    </div>
                                    <div class="d-flex py-1 text-muted tb-fond-md">
                                        Stop2 : {{data.stop2}}
                                    </div>
                                    <div class="d-flex py-1 text-muted tb-fond-md">
                                        Stop3 : {{data.stop3}}
                                    </div>
                                    <div class="d-flex py-1 text-muted tb-fond-md">
                                        Route Details : {{data.routedetails}}
                                    </div>
                                    <div class="d-flex py-1 text-muted tb-fond-md">
                                        Destination : {{data.desti}}
                                    </div>


                                </div>
                                <div class="card-body border-top border-dashed hstack align-items-center gap-2">


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>