
<div class="col-xxl-12">
    <div class="d-flex align-items-center">
        <a (click)="goBack()">
            <i class="ri-arrow-left-circle-fill " style="font-size: 1.7rem;color: #3762ea;"></i>
        </a>
        <h5 class="px-3 mb-0">Route Details</h5>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card overflow-hidden">
                        <div class="row g-0" *ngFor="let data of routedetail;let i = index;">

                            <div class="col-xl-12 ">
                                <div class="card-body">

                                    <h4 class="text-truncate text-capitalize">Route No. : {{data.rno}}</h4>
                                    <div class="d-flex py-1  tb-fond-md">
                                        <span class="text-muted">  Start : </span>  <span class="tb-table-striped-color px-1">  {{data.start}}</span> 
                                       
                                    </div>
                                    <div class="d-flex py-1 tb-fond-md">
                                        <span class="text-muted"> Stop1 : </span>  <span class="tb-table-striped-color px-1">   {{data.stop1}}</span> 
                                       
                                    </div>
                                    <div class="d-flex py-1  tb-fond-md">
                                        <span class="text-muted">Stop2 : </span>  <span class="tb-table-striped-color px-1">   {{data.stop2}}</span> 
                                        
                                    </div>
                                    <div class="d-flex py-1  tb-fond-md">
                                        <span class="text-muted">Stop3 : </span>  <span class="tb-table-striped-color px-1">   {{data.stop3}}</span> 
                                        
                                    </div>
                                    <div class="d-flex py-1  tb-fond-md">
                                        <span class="text-muted">Route Details :  </span>  <span class="tb-table-striped-color px-1">  {{data.routedetails}}</span> 
                                        
                                    </div>
                                    <div class="d-flex py-1  tb-fond-md">
                                        <span class="text-muted">Destination :  </span>  <span class="tb-table-striped-color px-1">  {{data.desti}}</span> 
                                      
                                    </div>

                                </div>
                                <div class="card-body border-top border-dashed hstack align-items-center gap-2">


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>