 <p>address-book works!</p>
 <div class="d-flex m-5">
 <div class="dropdown" dropdown>
    <button class="btn btn-secondary dropdown-toggle" type="button" dropdownToggle
        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        School
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1" *dropdownMenu>
        <a class="dropdown-item" href="javascript;void(0);">Action</a>
        <a class="dropdown-item" href="javascript;void(0)">Another action</a>
        <a class="dropdown-item" href="javascript;void(0)">Something else here</a>
    </div>
</div>

 <div class="dropdown mx-5" dropdown>
    <a href="javascript;void(0)" class="btn btn-secondary dropdown-toggle" dropdownToggle
        data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown link
    </a>

    <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" href="javascript;void(0)">Action</a>
        <a class="dropdown-item" href="javascript;void(0)">Another action</a>
        <a class="dropdown-item" href="javascript;void(0)">Something else here</a>
    </div>
</div>
</div>