











<app-breadcrumbs title="" [breadcrumbItems]="breadCrumbItems" ></app-breadcrumbs>




<!-- End Breadcrumbs -->
<div bsModal #showModals="bs-modal" class="modal fade" id="showModals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"> Update Student</h5>
                <button type="button" class="btn-close" (click)="showModals.hide()" id="close-modal"></button>
            </div>
            <form class="tablelist-form" [formGroup]="MessageFormData">
                <div class="modal-body">
                    <input type="hidden" name="id" value="" formControlName="ids" />




                    <!-- <div class="mb-3" id="modal-id" style="display: none;">
                        <label for="id-field" class="form-label">ID</label>
                        <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
                    </div> -->
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Rec. No.</label>
                        <input type="text"  class="form-control"[(ngModel)]="emp.rec_no" formControlName="number" placeholder="Rec. No." required />
                    </div>




                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Name</label>
                        <input type="text"  class="form-control"[(ngModel)]="emp.name" formControlName="name" placeholder="Enter Name" required />
                    </div>
     
                    <div class="mb-3">
                        <!-- <label for="course-category-input" class="form-label">Standard<span class="text-danger">*</span></label> -->
                       <label for="course-category-input" class="form-label">Standard</label>






                        <select class="form-select" id="course-category-input" [(ngModel)]="emp.standard" placeholder="Enter Standard" formControlName="standard" >
                            <option value="UKG">UKG</option>
                            <option value="LKG">LKG</option>
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                            <option value="VI">VI</option>.
                            <option value="VII">VII</option>
                            <option value="VIII">VIII</option>
                            <option value="IX">IX</option>
                            <option value="X">X</option>                          
                            <option value="XI">XI</option>
                            <option value="XII">XII</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="course-category-input" class="form-label">Section</label>




                        <select class="form-select" id="course-category-input" [(ngModel)]="emp.section" formControlName="section" >
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>




                    <div class="mb-3">
                        <label for="date-field" class="form-label">DOB</label>
                        <input type="Date" id="date-field" class="form-control" placeholder="Date Of Birth" formControlName="date" [(ngModel)]="emp.Dob" formControlName="Dob"    >
                        <!-- <div class="invalid-feedback">Please select a date.</div> -->
                    </div>
                   
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Parent/Guardian Name</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Parent/Guardian Name" formControlName="parentname" [(ngModel)]="emp.parentname" required />
                    </div>
                    <div class="mb-3">
                        <label for=" address-field" class="form-label"> Adderss</label>
                        <input type="address" id="address-field" class="form-control" placeholder="Enter Address" formControlName="address"  [(ngModel)]="emp.address" required />
                    </div>
           
                    <div class="mb-3">
                        <label for="phone-field" class="form-label">Mobile</label>
                        <input type="number" id="phone-field" class="form-control" placeholder="Enter Mobile No." pattern="[1-9]{1}[0-9]{9}" formControlName="mobile"  [(ngModel)]="emp.mobile" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Photo</label>
                         <div class="d-flex no-block justify-content-left align-items-left">
                            <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                                <div class="text-left">
                                    <img [src]="image_path || emp.image" width="100px" height="100px" (click)="fileUploader.click()">
                                </div>
                            </div>
                           
                           
                            <div>
                                <div class="form-group justify-content-center">
                                    <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                 
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="showModals.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <!-- <button type="button" class="btn btn-light" (click)="showModals.hide()">Close</button> -->
                        <button type="submit" class="btn btn-success" id="add-btn" (click)="update(emp.id)">Update</button>
                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div bsModal #deleteRecordModal="bs-modal" class="modal fade" id="deleteRecordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"> Add Student</h5>
                <button type="button" class="btn-close" (click)="deleteRecordModal.hide()" id="close-modal"></button>
            </div>
            <form class="tablelist-form" [formGroup]="MessageFormData">
                <div class="modal-body">
                    <input type="hidden" name="id" value="" formControlName="ids" />




             
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Rec. No.</label>
                        <input type="text"  class="form-control" formControlName="number"  [(ngModel)]="emp.rec_no" placeholder="Rec. No." required />
                    </div>




                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Name</label>
                        <input type="text"  class="form-control" formControlName="name"  [(ngModel)]="emp.name" placeholder="Enter Name" required />
                    </div>
                    <div class="mb-3">
                        <label for="course-category-input" class="form-label">Standard</label>




                        <select class="form-select" id="course-category-input"  [(ngModel)]="emp.standard"  placeholder="Enter Standard" formControlName="standard" >
                            <option value="UKG">UKG</option>
                            <option value="LKG">LKG</option>
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                            <option value="VI">VI</option>.
                            <option value="VII">VII</option>
                            <option value="VIII">VIII</option>
                            <option value="IX">IX</option>
                            <option value="X">X</option>                          
                            <option value="XI">XI</option>
                            <option value="XII">XII</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="course-category-input" class="form-label">Section</label>




                        <select class="form-select" id="course-category-input"  [(ngModel)]="emp.section" formControlName="section" >
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>




                    <div class="mb-3">
                        <label for="date-field" class="form-label">DOB</label>
                        <input type="Date" id="date-field" class="form-control" placeholder="Date Of Birth"  [(ngModel)]="emp.Dob"formControlName="date"  formControlName="Dob"    >
                        <!-- <div class="invalid-feedback">Please select a date.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Parent/Guardian Name</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Parent/Guardian Name" formControlName="parentname" [(ngModel)]="emp.parentname" required />
                    </div>
                    <div class="mb-3">
                        <label for=" address-field" class="form-label"> Address</label>
                        <input type="address" id="address-field" class="form-control" placeholder="Enter Address" formControlName="address"  [(ngModel)]="emp.address" required />
                    </div>
           
                    <div class="mb-3">
                        <label for="phone-field" class="form-label">Mobile</label>
                        <input type="number" id="phone-field" class="form-control" placeholder="Enter Mobile No."   pattern="[1-9]{1}[0-9]{9}" formControlName="mobile"  [(ngModel)]="emp.mobile" required />
                    </div>




                    <div class="mb-3">
                        <label class="form-label">Photo</label>
                        <div class="d-flex no-block justify-content-left align-items-left">
                            <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                                <div class="text-left">
                                    <img [src]="image_path || emp.image" width="100px" height="100px" (click)="fileUploader.click()">
                                </div>
                            </div>
                           
                           
                            <div>
                                <div class="form-group justify-content-center">
                                    <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                 
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" (click)="deleteRecordModal.hide()">Close</button>
                        <button type="submit" class="btn btn-success" id="add-btn" (click)="save()">Add </button>
                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<div>




<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Students List </h4>
            </div><!-- end card header -->
            <div class="card-body">
                <!-- <div class="search-box d-inline-block mb-2">
                    <input type="text" class="form-control search" placeholder="Search...">
                    <i class="ri-search-line search-icon"></i>
                </div> -->
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto d-flex">
                           




                            <div class="search-box ms-2">
                                <!-- <span class="ri-search-line search-icon me-3"></span> -->
                                <select class="form-select" id="course-category-input" [(ngModel)]="selectedStandard" (change)="filterStudents()">
                                    <option value="">Standard</option>
                                    <option value="">ALL</option>
                                    <option value="LKG">LKG</option>
                                    <option value="UKG">UKG</option>
                                    <option value="I">I</option>
                                    <option value="II"> II</option>
                                    <option value="III">III</option>
                                 
                                </select>
                            </div>


                            <div class="search-box ms-2">
                                <!-- <span class="ri-search-line search-icon me-3"></span> -->
                                <select class="form-select" id="course-category-input" [(ngModel)]="selectedSection" (ngModelChange)="filterStudents()">
                                    <option value="">Section</option>
                                    <option value="">ALL</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D"> D</option>
                                    <option value="E">E</option>
                                 
                                </select>
                            </div>
                            <!-- <div class="search-box ms-2">
                                <input type="text" class="form-control search" [(ngModel)]="searchTerm" (change)="filterStudents()" placeholder="Search by Name">
                               
                            </div> -->


                            <div class="search-box ms-2">
                                <input type="text" class="form-control search" [(ngModel)]="searchTerm" (change)="filterStudentsByName($event)"
                                  placeholder="Search by Name" list="studentNames">
                                <datalist id="studentNames">
                                  <option *ngFor="let name of studentNames" [value]="name"></option>
                                </datalist>
                              </div>
                             
                             
                             
                             
                           
                           
                            <!-- <div class="modal-header  ps-4">
                                <button type="button" class="btn btn-secondary  add-btn me-2" id="create-btn" ><i class="ri-search-line align-bottom me-1"></i>
                                    Search</button> -->
                                <!-- <h5 class="modal-title text-white" id="addCourseModalLabel">Search</h5> -->
                                <!-- <button type="button" class="btn-close btn-close-white" ></button>
                            </div> -->
                           
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div>
                                    <button type="button" class="btn btn-info add-btn me-2" id="create-btn" (click)="add()"><i class="ri-add-line align-bottom me-1"></i>
                                        Add</button>
                                        <!-- <button type="button" class="btn btn-success add-btn me-2" id="create-btn" ><i class="ri-add-line align-bottom me-1"></i>
                                            Import</button> -->




                                            <!-- <div> -->
                                                <label for="fileInput" class="btn btn-info add-btn me-2">
                                                  <i class="ri-add-line align-bottom me-1"></i> Import
                                                </label>
                                                <input type="file" id="fileInput" style="display: none" (change)="onFileChange($event)" accept=".xlsx, .xls" />
                                              <!-- </div> -->
                                             
                                             
                                    <!-- <button class="btn btn-subtle-danger" (click)="deleteModal.show()"><i class="ri-delete-bin-2-line"></i></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div bsModal #showModals1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h2 class="modal-title">Image</h2>
                                <button type="button" class="btn-close" (click)="showModals1.hide()" id="close-modal">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body align-items-center justify-content-center text-center">
                              <img *ngIf="selectedPreviewImage" [src]="selectedPreviewImage" class="img-fluid" alt="Preview" style="max-width: 100%; max-height: 100%; display: inline-block;">
                            </div>
                          </div>
                        </div>
                      </div>
                     
                    <div>



                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table align-middle table-nowrap" id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    <!-- <th scope="col" style="width: 50px;">
                                    </th> -->
                                    <th class="sort" listsortable="customer_name" >Rec. No.
                                    </th>
                                    <th class="sort" listsortable="customer_name" >Name
                                    </th>
                                    <th class="sort" listsortable="customer_name" >Photo
                                    </th>
                                    <th class="sort" listsortable="email">STD</th>
                                    <th class="sort" listsortable="email">SEC</th>
                                   
                                    <th class="sort" listsortable="date" >DOB</th>
                                    <th class="sort" listsortable="email" >Parent/Guardian</th>
                                   
                                    <th class="sort" listsortable="date" >Address</th>
                                    <!-- <th class="sort" listsortable="email" >Email</th> -->
                                    <th class="sort" listsortable="phone" >Phone</th>
                                    <!-- <th class="sort " listsortable="status" (listsort)="onSort($event)">Delivery Status
                                    </th>-->
                                    <th class="sort">Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <!-- <tr *ngFor="let data of students;let i = index;" id="a_{{data.id}}"> -->
                                    <tr *ngFor="let data of filteredStudents; let i = index;" id="a_{{data.id}}">
                                    <td class="customer_name">{{data.rec_no}}</td>
                                    <td class="customer_name">{{data.name}}</td>
                                    <td class="picture">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 " style="height: 50px; width: 50px;">
                                                <img [src]="data.image"(click)="showImagePreview(data.image)" class="img-fluid" alt="Image" style="object-fit: cover; width: 100%; height: 100%;">>

                                                <!-- <img src={{data.image}} alt="" class="img-fluid d-block" (click)="openImageModal(data.image)" style="object-fit: cover; width: 100%; height: 100%;"  > -->
                                            </div>
                                         
                                        </div>
                                    </td>
                                    <td class="date">{{data.standard}}</td>
                                    <td class="date">{{data.section}}</td>
                                    <td class="date">{{data.Dob| date: 'dd/MM/yyyy'}}</td>
                                    <td class="customer_name">{{data.parentname}}</td>
                                    <td class="phone">{{data.address}}</td>
                                    <!-- <td class="email">{{data.}}</td> -->
                                    <td class="customer_name">{{data.mobile}}</td>
                                    <!-- <td class="status"><span class="badge text-uppercase" >data.status</span>
                                    </td> -->
                                    <td>
                                        <div class="d-flex gap-2">
                                            <div class="edit">
                                                <button class="btn btn-sm btn-success edit-item-btn" (click)="editStudent(i)">Edit</button>
                                            </div>
                                            <div class="remove">
                                                <button class="btn btn-sm btn-danger remove-item-btn" (click)="delet(data.id)">Remove</button>
                                            </div>
                                        </div>
                                    </td>
                               
                            </tbody>
                        </table>
                       
                    </div>




                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <pagination class="pagination-wrap hstack gap-2" [totalItems]="10" [itemsPerPage]="30" ></pagination>
                        </div>
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>
    <!-- end col -->












<!-- Modal -->
<!-- <div bsModal #deleteModal="bs-modal" class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="deleteModal.hide()" id="btn-close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-base mx-4 mx-sm-5">
                        <h4>Are you Sure ?</h4>
                        <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" (click)="deleteModal.hide()">Close</button>
                    <button type="button" class="btn w-sm btn-danger "  id="delete-record" >yes, Delete It!</button>
                </div>
            </div>
        </div>
    </div>
</div> -->








<!-- <div bsModal #showModals="bs-modal" class="modal fade" id="showModals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!--<div class="modal-header bg-light p-3"> -->
                <!-- <h5 class="modal-title" id="exampleModalLabel"></h5> -->
                <!-- <button type="button" class="btn-close" (click)="showModals.hide()" id="close-modal"></button>
            </div> -->
            <!-- <form  class="tablelist-form" (ngSubmit)="save()">
                <div class="modal-body">
                    <input type="hidden" name="id" value="" formControlName="ids" />




                    <div class="mb-3" id="modal-id" style="display: none;">
                        <label for="id-field" class="form-label">ID</label>
                        <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
                    </div>




                    <div class="mb-3">
                        <label for="customername-field" class="form-label">Customer Name</label>
                        <input type="text" id="customername-field" class="form-control" [(ngModel)]="formdata.name" placeholder="Enter Name" required />
                      </div>




                      <div class="mb-3">
                        <label for="email-field" class="form-label">mobile</label>
                        <input type="email" id="email-field" class="form-control" [(ngModel)]="formdata.mobile" placeholder="Enter Email" required />
                      </div>
                      <div class="mb-3">
                        <label for="address-field" class="form-label">Address</label>
                        <input type="text" id="address-field" class="form-control" [(ngModel)]="formdata.address" placeholder="Enter Address" required />
                      </div>
           
                      <div class="mb-3">
                        <label for="phone-field" class="form-label">standard</label>
                        <input type="text" id="phone-field" class="form-control" [(ngModel)]="formdata.standard" placeholder="Enter Phone no." required />
                      </div>




                      <div class="mb-3">
                        <label for="date-field" class="form-label">parentname</label>
                        <input type="text" id="date-field" class="form-control" [(ngModel)]="formdata.parentname"   placeholder="Enter Phone no."required />
                      </div>
                    </div>
                    <div class="mb-3">
                        <label for="date-field" class="form-label">section</label>
                        <input type="text" id="date-field" class="form-control" [(ngModel)]="formdata.section"  placeholder="Enter Phone no." required />
                      </div>
                   
                    <div class="mb-3">
                        <label for="date-field" class="form-label">Dob</label>
                        <input type="date" id="date-field" class="form-control" [(ngModel)]="formdata.Dob" required />
                      </div>
                   
       
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" (click)="showModals.hide()">Close</button>
                        <button type="submit" class="btn btn-success" id="add-btn">Add Items</button>
                       <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                    <!-- </div>
                </div>
            </form>
        </div>
    </div>
</div>  -->











