<app-breadcrumbs title="" [breadcrumbItems]="breadCrumbItems" ></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Users List </h4>
            </div><!-- end card header -->
            <div class="card-body">
              
                <div id="customerList">
                     <div class="row g-4 mb-3">
                        <div class="col-sm-auto d-flex">
                            <div class="search-box ms-2">
                                <label for="course-category-input" class="form-label me-2" style="padding-top: 10px;">search</label>
                           
                            </div>
                          
                          
                            <div class="search-box ms-2">
                              <input class="form-control" placeholder="Search by Name" [(ngModel)]="searchTerm" (input)="filteredGarage($event)">
                              <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>

                       <!-- <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div>
                                    <button type="button" class="btn btn-info add-btn me-2" id="create-btn"  ><i class="ri-add-line align-bottom me-1"></i>Add</button>
                                      
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div bsModal #showModals1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h2 class="modal-title">Image Preview</h2>
                                <button type="button" class="btn-close" id="close-modal">
                               
                              </button>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                     
                    <div>
                     
                        <div *ngIf="loading" class="text-center">
                       
                            <div class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                            <p>Loading...</p>
                          </div>

                    <div *ngIf="!loading" class="table-responsive table-card mt-3 mb-1">
                        <table class="table align-middle table-nowrap" id="customerTable">
                            <thead class="table-light">
                                <tr>
                             
                                    
                                    <th class="sort" listsortable="customer_name" >Name
                                    </th>
                                  
                                    <th class="sort" listsortable="customer_name" >Phone
                                    </th>
                                    <th class="sort" listsortable="customer_name" >Email
                                    </th>
                                    <th class="sort" listsortable="customer_name" >Address
                                    </th>
                                  
                                    <th class="sort" listsortable="customer_name" >Postcode
                                    </th>
                                    <th class="sort" listsortable="customer_name" >Vehicle
                                    </th>

                                    <!-- <th class="sort" listsortable="customer_name" >Bookings
                                    </th> -->
                                   <!-- <th class="sort" listsortable="customer_name" >Action -->
                      

                                  
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                             

                                        <tr *ngFor="let data of filteredUser ; let i = index;"  >

                                        <tr *ngFor="let data of usersdata ; let i = index;"  >

                                    
                                    <td class="date">{{data.firstname}} {{data.lastname}}</td>
                                    <td class="date">{{data.phone}}</td>
                                    <td class="date">{{data.email}}</td>
                                    <td class="date">{{data.address}}</td>
                                    <td class="date">{{data.postcode}}</td>
                                    <td>

                                      <div class="edit">
                                          <button class="btn btn-sm btn-success edit-item-btn" (click)="details(data.id, data.firstname, data.lastname)" [disabled]="isLoadingVehicle[data.id]">
                                              <span *ngIf="isLoadingVehicle[data.id]">
                                                  <div class="spinner-border spinner-border-sm" role="status">
                                                      <span class="visually-hidden">Loading...</span>
                                                  </div>
                                              </span>
                                              <span *ngIf="!isLoadingVehicle[data.id]">{{ vehicalno[data.id] || 0 }}</span>
                                          </button>
                                      </div>
                                  </td>
                                  
                                  <!-- <td>
                                    <div class="edit">
                                      <button class="btn btn-sm btn-success edit-item-btn" (click)="details(data.id, data.firstname, data.lastname)" [disabled]="isLoadingVehicle[data.id]">
                                        <span *ngIf="isLoadingVehicle[data.id]"> <div class="spinner-border" role="status">
                                          <span class="visually-hidden">Loading...</span>
                                        </div></span>
                                        <span *ngIf="!isLoadingVehicle[data.id]">{{ bookno[data.id] || 0 }}</span>
                                    </button>
                                    </div>
                                </td> -->
                                  
                                <!-- <td>
                                        <div class="edit">
                                            <button class="btn btn-sm btn-success edit-item-btn" (click)="details(data.id, data.firstname, data.lastname)">
                                              {{ vehicalno[data.id] || 0 }} 
                                            </button>
                                          </div>
                                    </td> -->

                                 
                            </tbody>
                        </table>
                       
                    </div>


                 
                </div>
            </div>
        </div>
      
    </div>
</div>

