<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"> Add Test List </h4>
            </div>
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <!-- <div class="search-box ms-2">
                                <input type="text" class="form-control search" placeholder="Search R. No." >
                                <i class="ri-search-line search-icon"></i>
                            </div> -->
                             <label  class="form-label">List No. : 4</label> 
                            <label  class="form-label px-5">List Name : Fruits</label>
                        </div>
                    </div>
                    <div class="mb-3">
     <div  class="p-4 col-lg-7">                   
    <label  class="form-label">Question </label>
    <input type="text" class="form-control" />

    <label class="p-2">A <input type="text" class="form-control search" /></label>
    <label class="px-3">B <input type="text" class="form-control search" /></label>
    <label class="p-2">C <input type="text" class="form-control search"  /></label>
    <label class="px-3">D <input type="text" class="form-control search"  /></label>

    <div class="d-flex p-2 align-items-center">
      <span class="me-3">Correct Answer:</span>
      <select class="form-control" style="width: 80px;">
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
        <option value="d">D</option>
      </select>
    </div>
</div>
 </div>
</div>
</div>