

<div class="modal fade" bsModal #deleteRecordModal2="bs-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header px-4 pt-4">
        <h5 class="modal-title" id="exampleModalLabel">Assign to Standard</h5>
        <button type="button" class="btn-close" (click)="deleteRecordModal2.hide()"></button>
      </div>
      <form class="tablelist-form" [formGroup]="MessageFormData">
        <div class="modal-body p-4" *ngIf="allPossibleStandards.length > 0">
          <div class="mb-3 col-sm-6">
            <label for="course-category-input" class="form-label">Assign<span class="text-danger">*</span></label>


            <div class="form-check mb-2" *ngFor="let standard of allPossibleStandards">
              <input
              class="form-check-input"
              type="checkbox"
              [id]="standard"
              [checked]="fetchedStandards.includes(standard)"
              (change)="onStandardChange(standard)"
            />
           
              <label class="form-check-label" [for]="standard">{{ standard }}</label>
            </div>
          </div>
        </div>


        <div class="modal-footer">
          <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-ghost-danger" (click)="deleteRecordModal2.hide()">
              <i class="bi bi-x-lg align-baseline me-1"></i> Close
            </button>
            <button type="submit" class="btn btn-primary" id="add-btn" (click)="saveSelectedStandards()">Assign</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


 




    <div bsModal #deleteRecordModal="bs-modal" class="modal fade" id="deleteRecordModal" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable " style="max-width: 1000px;">
          <div class="modal-content border-0">
              <div class="modal-header bg-danger p-3">
                  <h5 class="modal-title text-white" id="deleteRecordModal"> Update Comprehension</h5>
                  <button type="button" class="btn-close btn-close-white" (click)="deleteRecordModal.hide()" ></button>
              </div>
              <div class="modal-body" style="max-height: 800px; overflow-y: auto;">
                <input type="hidden" name="id" value="" formControlName="ids" />
                <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                <input type="hidden" id="id-field">
   
              <form [formGroup]="MessageFormData">
   
                <div class="mb-3">
                  <label for="no" class="form-label" style="color: #3762ea;">No.</label>
                  <input type="number" id="no" class="form-control" formControlName="no" [(ngModel)]="emp.no" required />
                </div>
             
                <div class="mb-3">
                  <label for="title" class="form-label"style="color: #3762ea;">Title</label>
                  <input type="text" class="form-control" formControlName="title" [(ngModel)]="emp.title" placeholder="Enter Title" required />
                </div>
             
                <div class="mb-3">
                  <label for="paragraph" class="form-label"style="color: #3762ea;">Paragraph</label>
                  <textarea type="text" class="form-control" formControlName="paragraph" placeholder="Enter Paragraph" [(ngModel)]="emp.paragraph" required style="height: 120px;"></textarea>
                </div>
                <div class="mb-3">
                  <label class="form-label">Photo</label>
                  <div class="d-flex no-block justify-content-left align-items-left">
                      <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                          <div class="text-left">
                              <img [src]=" image_path ||emp.pic" width="100px" height="100px" (click)="fileUploader.click()">
                          </div>
                      </div>
                     
                     
                      <div>
                          <div class="form-group justify-content-center">
                              <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                          </div>
                      </div>
                  </div>
              </div>
               
              </form>
              <div *ngFor="let question of emp.questions; let i = index" class="mb-3">
                <label for="qstn{{ i }}" class="form-label" style="color: #3762ea;">Question {{ i + 1 }}</label>
                <input type="text" id="qstn{{ i }}" class="form-control" [(ngModel)]="question.qstn" />
             
                <label class="p-2">A <input type="text" class="form-control search" [(ngModel)]="question.a" /></label>
                <label class="px-3">B <input type="text" class="form-control search" [(ngModel)]="question.b" /></label>
                <label class="p-2">C <input type="text" class="form-control search" [(ngModel)]="question.c" /></label>
                <label class="px-3">D <input type="text" class="form-control search" [(ngModel)]="question.d" /></label>
             
                <div class="d-flex p-2 align-items-center">
                  <span class="me-3">Correct Answer:</span>
                  <select class="form-control" style="width: 80px;" [(ngModel)]="question.answer">
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                  </select>
                </div>
              </div>


                <div class="modal-footer">
                  <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-ghost-danger" (click)="deleteRecordModal.hide()"><i
                      class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                    <button type="submit" class="btn btn-primary" id="add-btn" (click)="update(emp.id)">update</button>
                  </div>
                </div>
           
              </div>
          </div>
      </div>
    </div>




    <div bsModal #keywordModal="bs-modal" class="modal fade" id="keywordModal" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content border-0">
              <div class="modal-header bg-danger p-3">
                  <h5 class="modal-title text-white" id="keywordModal"> Select Keywords for Comprehension</h5>
                  <button type="button" class="btn-close btn-close-white" (click)="keywordModal.hide()" ></button>
              </div>
              <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                <input type="hidden" name="id" value="" formControlName="ids" />
                <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                <input type="hidden" id="id-field">
   
              <form [formGroup]="MessageFormData">
             
                <div class="mb-3">
                  <label for="paragraph" class="form-label">Paragraph</label>
                  <textarea type="text" class="form-control" formControlName="paragraph" placeholder="Enter Paragraph" [(ngModel)]="emp.paragraph" required style="height: 120px;" readonly></textarea>
                </div>
              </form>
              <div *ngFor="let item of itemDetails; let i = index" class="row mb-3">
                <div class="col-md-1 align-items-center">
                  <div class="Name align-items-center">{{i+1}}</div>
                </div>
                <div class="col-md-4">
                  <input class="form-control" [attr.list]="'vocabularyData' + i" id="exampleDataList{{ i }}" value={{item.name}}
                    [(ngModel)]="item.name" (ngModelChange)="onDropdownChange(i, $event)" (input)="filterItems(i, $event)"
                    placeholder="Search Item...">
                  <datalist id="vocabularyData{{ i }}">
                    <option *ngFor="let additem of vocabularyData" [value]="additem.name">
                      {{ additem.name }}
                    </option>
                  </datalist>
                </div>      
                <div class="col-md-2">
                  <div class="d-flex align-items-center">
                    <div class="avatar-xs bg-light rounded p-1" style="height: 50px; width: 50px;" *ngIf="item.pic && item.pic.trim() !== '' && isItemInVocabulary(item.name)">
                      <img src="{{ item.pic }}" alt="" class="img-fluid d-block">
                    </div>
                    <div *ngIf="!isItemInVocabulary(item.name)">
                      <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                        <div class="text-left">
                          <!-- Label to cover the input element -->
                          <label for="fileUploader1" style="cursor: pointer;">
                            <img [src]="image_path || item.pic" width="50px" height="50px" (click)="fileUploader1.click()">
                          </label>
                          <!-- Hidden file input -->
                          <input type="file" accept="image/*" class="form-control-sm"  #fileUploader1 (change)="showPreview1($event, i)" style="display: none;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                        
                <div class="col-md-5">
                  <input type="text" class="form-control" formControlName="paragraph" placeholder="Enter Description"
                    [(ngModel)]="item.desc" value={{item.desc}} (input)="filterItems1(i, $event)" required>
                </div>
              </div>
             
             
             
              <div class=" d-flex justify-content-sm-end p-4">
                <button class="btn btn-primary " (click)="addRow()">Add</button>
              </div>




                <div class="modal-footer">
                  <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-ghost-danger" (click)="keywordModal.hide()"><i
                      class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                    <button type="submit" class="btn btn-primary" id="add-btn" (click)="updateKeyWord(emp.id)">update</button>
                  </div>
                </div>
           
              </div>
          </div>
      </div>
    </div>










<div bsModal #addCourse="bs-modal" class="modal fade" id="addCourse" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 1000px;">
      <div class="modal-content border-0">
          <div class="modal-header bg-danger p-3">
              <h5 class="modal-title text-white" id="addCourseModalLabel">Add Comprehension</h5>
              <button type="button" class="btn-close btn-close-white" (click)="addCourse.hide()"></button>
          </div>
          <div class="modal-body" style="max-height: 800px; overflow-y: auto;">
            <input type="hidden" name="id" value="" formControlName="ids" />
            <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
            <input type="hidden" id="id-field">




          <form [formGroup]="MessageFormData">
           


            <div class="mb-3">
              <label for="no" class="form-label" style="color: #3762ea;">No.</label>
              <input type="number" id="no" class="form-control" formControlName="no" [(ngModel)]="emp.no" required />
            </div>
         
            <div class="mb-3">
              <label for="title" class="form-label" style="color: #3762ea;">Title</label>
              <input type="text" class="form-control" formControlName="title" [(ngModel)]="emp.title" placeholder="Enter Title" required />
            </div>
         
            <div class="mb-3">
              <label for="paragraph" class="form-label" style="color: #3762ea;">Paragraph</label>
              <textarea type="text" class="form-control" formControlName="paragraph" placeholder="Enter Paragraph" [(ngModel)]="emp.paragraph" required style="height: 120px;"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Photo</label>
              <div class="d-flex no-block justify-content-left align-items-left">
                  <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                      <div class="text-left">
                          <img [src]=" image_path ||emp.pic" width="100px" height="100px" (click)="fileUploader.click()">
                      </div>
                  </div>
                 
                 
                  <div>
                      <div class="form-group justify-content-center">
                          <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                      </div>
                  </div>
              </div>
          </div>
           
          </form>


          <div *ngFor="let question of emp.questions; let i = index" class="mb-3">
            <label for="qstn{{ i }}" class="form-label" style="color: #3762ea;">Question {{ i + 1 }}</label>
            <input type="text" id="qstn{{ i }}" class="form-control" [(ngModel)]="question.qstn" />
       
            <label class="p-2">A <input type="text" class="form-control search" [(ngModel)]="question.a" /></label>
            <label class="px-3">B <input type="text" class="form-control search" [(ngModel)]="question.b" /></label>
            <label class="p-2">C <input type="text" class="form-control search" [(ngModel)]="question.c" /></label>
            <label class="px-3">D <input type="text" class="form-control search" [(ngModel)]="question.d" /></label>
       
            <div class="d-flex p-2 align-items-center">
              <span class="me-3">Correct Answer:</span>
              <select class="form-control" style="width: 80px;" [(ngModel)]="question.answer">
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
              </select>
            </div>
          </div>
     
        <button type="button" class="btn btn-primary" (click)="addQuestion()">Add  Question</button>
            <div class="modal-footer">
              <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-ghost-danger" (click)="addCourse.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                <button type="submit" class="btn btn-primary" id="add-btn" (click)="save(emp.id)">Add</button>
              </div>
            </div>
       
          </div>
      </div>
  </div>
</div>






<div bsModal #showModals1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Image Preview</h2>
          <button type="button" class="btn-close" (click)="showModals1.hide()" id="close-modal">
         
        </button>
      </div>
      <div class="modal-body align-items-center justify-content-center text-center">
        <img *ngIf="selectedPreviewImage" [src]="selectedPreviewImage" class="img-fluid" alt="Preview" style="max-width: 100%; max-height: 100%; display: inline-block;">
      </div>
    </div>
  </div>
</div>














<app-breadcrumbs title="" [breadcrumbItems]="breadCrumbItems" ></app-breadcrumbs>
<div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Comprehension List </h4>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                      <div class="col-sm-4 d-flex">








                        <div class="search-box ms-2 col-sm-auto">
                          <select class="form-select" id="course-category-input" [(ngModel)]="selectedOption"  (change)="filterItemsByOption()">
                            <option value="">Standard</option>
                            <option value="ALL">ALL</option>
                            <option value="V">V</option>
                            <option value="VI">VI</option>.
                            <option value="VII">VII</option>
                            <option value="VIII">VIII</option>
                            <option value="IX">IX</option>
                            <option value="X">X</option>                          
                            <option value="XI">XI</option>
                            <option value="XII">XII</option>
                          </select>
                        </div>
                       
                          <div class="search-box ms-2  col-sm-auto w-100">
                              <input type="text" class="form-control search order-last order-md-first" [(ngModel)]="searchTerm" placeholder="Search Title"(input)="filteredItemsName($event)" >
                              <i class="ri-search-line search-icon"></i>
                          </div>
                      </div>
                      <div class="col-sm">
                        <div class="d-flex justify-content-sm-end">
                            <div>
                                <button type="button" class="btn btn-info add-btn me-2" id="create-btn" (click)="add()" ><i class="ri-add-line align-bottom me-1"></i>
                                    Add</button>
                                    <!-- <button type="button" class="btn btn-info add-btn me-2" id="create-btn" ><i class="ri-add-line align-bottom me-1"></i>
                                        Import</button> -->
                               
                            </div>
                        </div>
                    </div>
                            </div>
                       
                    </div>




                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table table-hover table-striped align-middle table-nowrap mb-0" id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    <th class="sort" listsortable="customer_name" >No.
                                    </th>
                                    <th class="sort" listsortable="email">Title</th>
                                    <th class="sort" listsortable="customer_name" >Photo
                                    </th>
                                    <th class="sort" listsortable="customer_name" >Paragraph
                                    </th>
                                    <th class="sort" listsortable="customer_name" >Key Words
                                    </th>
                                   
                                    <th class="sort" listsortable="customer_name" >Assign to STD
                                    </th>
                                 
                                    <th class="sort" listsortable="email">Action</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr *ngFor="let data of filteredItems;let i = index;" >
                                    <td class="date">{{data.no}}</td>
                                    <td class="date">{{data.title}}</td>
                                    <td class="picture">
                                      <div class="d-flex align-items-center">
                                          <div class="avatar-xs bg-light rounded p-1 " style="height: 50px; width: 50px;">
                                              <img src={{data.pic}} alt="" (click)="showImagePreview(data.pic)" class="img-fluid d-block  " style="object-fit: cover; width: 100%; height: 100%;">
                                          </div>
                                       
                                      </div>
                                  </td>
                                    <td class="customer_name" style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        {{data.paragraph}}
                                      </td>
                                      <td class="customer_name">
                                        <div class=" px-4">{{data.keywords.length}}</div>
                                      </td>
                                   
                                      <td class="AssignToContainer">
                                        <div class="d-flex align-items-center">
                                          <button type="submit" class="btn btn-primary" id="add-btn" (click)="deleteRecordModal2.show(); setSelectedItemId(data.id); assignstd1(data.id)">Assign</button>
                                        </div>
                                        <div style="margin-left: 10px;">{{data.standard}}</div>
                                      </td>
                                     




       
                                    <td>
                                        <div class="d-flex gap-2">
                                            <div class="edit">
                                                <button class="btn btn-sm btn-success edit-item-btn" (click)="editComprehension(i)">Edit</button>
                                            </div>
                                            <div class="remove">
                                                <button class="btn btn-sm btn-danger remove-item-btn" (click)="deletpop(data.id)">Remove</button>
                                            </div>
                                            <div class="keywords">
                                              <button class="btn btn-sm btn-purple remove-item-btn" (click)="editComprehension1(i); editListItemId(data.id)" >Keywords</button>
                                          </div>
                                          <td class="bi bi-eye align-baseline me-1" style="font-size: 1.7rem;" ></td>
                                        </div>
                                    </td>
                                   
                                   
                                 
                            </tbody>
                        </table>
                       
                    </div>




                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <pagination class="pagination-wrap hstack gap-2" [totalItems]="10" [itemsPerPage]="30" ></pagination>
                        </div>
                    </div>
                </div>
            </div><!-- end card -->
        </div>
     
    </div>




    <div id="deleteRecordModal" class="modal fade zoomIn" bsModal #deleteModal="bs-modal">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteModal.hide()"></button>
              </div>
              <div class="modal-body p-md-5">
                  <div class="text-center">
                      <div class="text-danger">
                          <i class="bi bi-trash display-4"></i>
                      </div>
                      <div class="mt-4">
                          <h3 class="mb-2">Are you sure ?</h3>
                          <p class="text-muted fs-lg mx-3 mb-0">Are you sure you want to remove this record ?</p>
                      </div>
                  </div>
                  <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                      <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteModal.hide()">Close</button>
                      <button type="button" class="btn w-sm btn-danger btn-hover" id="delete-record" (click)="delet(deleteId)">Yes, Delete It!</button>
                  </div>
              </div>
          </div>
      </div>
  </div>  





















