<!--  -->
<div class="row">
    <div class="col-lg-12">
        <div class="d-flex align-items-center">
            <a  (click)="goBack()">
                <i class="ri-arrow-left-circle-fill" style="font-size: 1.7rem; color: #3762ea;"></i>
            </a>
            <h5 class="px-3 mb-0">Garage Details</h5>
            <!-- <h5 class="px-3 mb-0">{{name}}, {{standard}} {{section}}</h5> -->
        </div>
        <div class="card overflow-hidden">
            <div class="row g-0">
                <div class="col-xl-3 col-md-4">
                    <div class="card-body   h-100">
                        <img src="{{usersdata?.picture}}" alt=""
                            style="object-fit: fill; width: 100%; height: 100%; aspect-ratio: 1/1;">
                    </div>

                </div>
                <div class="col-xl-9 " >
                    <div class="card-body">
                       
                        <!-- <h4 class="text-truncate text-capitalize">Garage Details</h4> -->
                        <div class="d-flex py-1 tb-fond-md">
                            <span class="text-muted"> Name : </span> 
                            <span class=" px-1">{{ usersdata?.name }}</span>
                        </div>
                        <!-- Replace placeholders with actual garage data -->
                        <div class="d-flex py-1 tb-fond-md">
                            <span class="text-muted"> Address : </span> 
                            <span class=" px-1">{{ usersdata?.address }}</span>
                        </div>
                        <div class="d-flex py-1 tb-fond-md">
                            <span class="text-muted"> Postcode : </span> 
                            <span class=" px-1">{{ usersdata?.postcode }}</span>
                        </div>
                        <div class="d-flex py-1 tb-fond-md">
                            <span class="text-muted"> User Notes : </span> 
                            <span class=" px-1">{{ usersdata?.notes }}</span>
                        </div>
                        <div class="d-flex py-1 tb-fond-md">
                            <span class="text-muted"> Opening Hours : </span> 
                            <div class=" px-1">
                                <ng-container *ngIf="usersdata?.openinghrs">
                                    <!-- Split the opening hours string by '<br>' and render each item in a separate line -->
                                    <ng-container *ngFor="let timeSlot of usersdata.openinghrs.split('<br>'); let last = last">
                                        {{ timeSlot }}<span *ngIf="!last"> <br> </span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        
                        <div class=" py-1 tb-fond-md">
                            <span class="text-muted"> About : </span> 
                            <span class=" px-1">{{ usersdata?.about }}</span>
                        </div>
                    </div> 
                    
                    <div class="card-body border-top border-dashed hstack align-items-center gap-2">

                        <div class="flex-shrink-0">
                            <span class="badge bg-warning-subtle text-warning"><i
                                    class="bi bi-star-fill align-baseline me-1"></i> Garage</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>