
<app-breadcrumbs title="List Details" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="modal fade" bsModal #showModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Add list</h5>
                <button type="button" class="btn-close" (click)="showModal.hide()"></button>
            </div>
    
            <form  class="tablelist-form" [formGroup]="MessageFormData">
                <div class="modal-body p-4">
                    <!-- <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <input type="hidden" id="id-field">
     -->
                       
                    <div class="mb-3">
                        <label for="product-title-input" class="form-label"> Name</label>
                        <!-- <input type="text" id="product-title-input" formControlName="name" class="form-control" placeholder="Enter product title" required> -->
                        <input type="text"  class="form-control"[(ngModel)]="emp.name" formControlName="name" placeholder="Enter Name" required />
                    </div>
    
                  
                    <div class="mb-3">
                        <label class="form-label">Image</label>
                        <div class="d-flex no-block justify-content-center align-items-center">
                            <div class="m-r-10 no-shrink">
                                <div class="text-center">
                                    <img [src]="image_path || emp.picture" width="200px" height="200px" (click)="fileUploader.click()">
                                </div>
                            </div>
                            <div>
                                <div class="form-group justify-content-center">
                                    <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                                </div>
                            </div>
                        </div>
                    </div>
    
                  
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="showModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn" (click)="save()">Add List</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
  </div>
 <!-- Update List -->

 <div class="modal fade" bsModal #editModal="bs-modal">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header px-4 pt-4">
              <h5 class="modal-title" id="exampleModalLabel">Edit List</h5>
              <button type="button" class="btn-close" (click)="editModal.hide()"></button>
          </div>
  
          <form  class="tablelist-form" [formGroup]="MessageFormData">
              <div class="modal-body p-4">
                  <!-- <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                  <input type="hidden" id="id-field">
   -->
                     
                  <div class="mb-3">
                      <label for="product-title-input" class="form-label"> Name</label>
                      <!-- <input type="text" id="product-title-input" formControlName="name" class="form-control" placeholder="Enter product title" required> -->
                      <input type="text"  class="form-control"[(ngModel)]="emp.name"  formControlName="name" placeholder="Enter Name" required />
                  </div>
  
                
                  <div class="mb-3">
                      <label class="form-label">Image</label>
                      <div class="d-flex no-block justify-content-center align-items-center">
                          <div class="m-r-10 no-shrink">
                              <div class="text-center">
                                  <img [src]="image_path || emp.picture" width="200px" height="200px" (click)="fileUploader.click()">
                              </div>
                          </div>
                          <div>
                              <div class="form-group justify-content-center">
                                  <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                              </div>
                          </div>
                      </div>
                  </div>
  
                
              </div>
              <div class="modal-footer">
                  <div class="hstack gap-2 justify-content-end">
                      <button type="button" class="btn btn-ghost-danger" (click)="editModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                      <button type="submit" class="btn btn-primary" id="add-btn" (click)="update(emp.id)">Update List</button>
                  </div>
              </div>
          </form>
      </div>
      <!-- modal-content -->
  </div>
</div>
  

  <div class="modal fade" bsModal #deleteRecordModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-4">
                <h5 class="modal-title" id="exampleModalLabel">Assign Items</h5>
                <button type="button" class="btn-close" (click)="deleteRecordModal.hide()"></button>
            </div>
    
            <form  class="tablelist-form px-4" [formGroup]="MessageFormData">

              <div *ngFor="let item of items; let i = index" class="col-md-9  ">
                <div class="input-group">
                  <input class="form-control" [attr.list]="'additems' + i" id="exampleDataList{{ i }}"
                         [(ngModel)]="item.id" (ngModelChange)="onDropdownChange(i, $event)" (input)="filterItems()" (input)="updateItem(i, $event)" placeholder="Search Item...">
                  <button class="btn btn-danger" (click)="removeRow(i)">Remove</button>
                </div>
                <datalist id="additems{{ i }}">
                  <option *ngFor="let filteredItem of filteredAdditems" [value]="filteredItem.name"></option>
                </datalist>
              </div>
              <div class="col-sm-12">
                <button class="btn btn-primary" (click)="addRow()">Add</button>
              </div>
              <!-- <button class="btn btn-primary" (click)="submitSelectedIds()">Submit Selected IDs</button> -->
              
             
                

                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="showModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn" (click)="submitSelectedIds()" >Save </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>

 
  <div class="modal fade" bsModal #deleteRecordModal2="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header px-4 pt-4">
          <h5 class="modal-title" id="exampleModalLabel">Assign to Standard</h5>
          <button type="button" class="btn-close" (click)="deleteRecordModal2.hide()"></button>
        </div>
        <form class="tablelist-form" [formGroup]="MessageFormData">
          <div class="modal-body p-4" *ngIf="allPossibleStandards.length > 0">
            <div class="mb-3 col-sm-6">
              <label for="course-category-input" class="form-label">Assign<span class="text-danger">*</span></label>
  
              <div class="form-check mb-2" *ngFor="let standard of allPossibleStandards">
                <input
                class="form-check-input"
                type="checkbox"
                [id]="standard"
                [checked]="fetchedStandards.includes(standard)"
                (change)="onStandardChange(standard)"
              />
              
                <label class="form-check-label" [for]="standard">{{ standard }}</label>
              </div>
            </div>
          </div>
  
          <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
              <button type="button" class="btn btn-ghost-danger" (click)="deleteRecordModal2.hide()">
                <i class="bi bi-x-lg align-baseline me-1"></i> Close
              </button>
              <button type="submit" class="btn btn-primary" id="add-btn" (click)="saveSelectedStandards()">Assign</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<!--   
  <div class="modal fade" bsModal #deleteRecordModal2="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header px-4 pt-4">
          <h5 class="modal-title" id="exampleModalLabel">Assign to Standard</h5>
          <button type="button" class="btn-close" (click)="deleteRecordModal2.hide()"></button>
        </div>
        <form class="tablelist-form" [formGroup]="assignForm"> 
          <div class="modal-body p-4">
            <div class="mb-3 col-sm-6">
              <label for="course-category-input" class="form-label">Assign<span class="text-danger">*</span></label>
  
              <div class="form-check mb-2" *ngFor="let standard of fetchedStandards">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [id]="standard"
                  [checked]="isSelected(standard)"
                  (change)="assignstd1(standard)"
                />
                <label class="form-check-label" [for]="standard">{{ standard }}</label>
              </div>
            </div>
          </div>
  
          <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
              <button type="button" class="btn btn-ghost-danger" (click)="deleteRecordModal2.hide()">
                <i class="bi bi-x-lg align-baseline me-1"></i> Close
              </button>
              <button type="button" class="btn btn-primary" id="add-btn" (click)="saveSelectedStandards()">Add Assign</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> -->
  
  

 
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div class="flex-grow-1">
                    <h5 class="card-title mb-0"><span class="badge bg-dark-subtle text-dark ms-1"></span></h5>
                </div>
                <div class="flex-shrink-0">
                    <div class="d-flex flex-wrap align-items-start gap-2">
                        <button class="btn btn-subtle-danger d-none" id="remove-actions" (click)="deleteRecordModal.show()"><i class="ri-delete-bin-2-line"></i></button>
                        <button type="button" class="btn btn-primary add-btn" (click)="showModal.show()"><i class="bi bi-plus-circle align-baseline me-1"></i> Add
                            List</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered align-middle table-nowrap mb-0">
                        <thead class="table-active">
                            <tr>
                                <th class="sort cursor-pointer" productsortable="No" >No</th>
                                <th class="sort cursor-pointer" productsortable="Name" >Name</th>
                                <th class="sort cursor-pointer" productsortable="picture" >Picture</th>
                                <th class="sort cursor-pointer" productsortable="Items" >Items</th>
                                <th class="sort cursor-pointer" productsortable="Total Items" >Total Items</th>
                                <th class="sort cursor-pointer" productsortable="Assign To" >Assign To</th>
                                <th class="sort">Action</th> 
                                
                            </tr>
                        </thead>
                        <tbody class="list form-check-all">
                            <tr *ngFor="let data of addlists;let i = index;" >
                                <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#TB01</a></td>
                                
                                <td class="Name">{{i+1}}</td>
                               
                                <td class="category">{{data.name}}</td>
                                <td class="picture">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-xs bg-light rounded p-1 " style="height: 50px; width: 50px;">
                                            <img src="{{data.picture}}" alt="" class="img-fluid d-block ">
                                        </div>
                                      
                                    </div>
                                </td>
                                <td class="Items"><button type="submit" class="btn btn-primary" id="add-btn" (click)="deleteRecordModal.show(); ">Assign Items</button></td>
                                <td class="Total Items">data.stock</td>
                                <td class="Assign To">
                                  <button type="submit" class="btn btn-primary" id="add-btn" (click)="deleteRecordModal2.show(); setSelectedItemId(data.id); assignstd1(data.id)">Assign to Standard</button>
                                </td>
                                <td>
                                  <div class="d-flex gap-2">
                                      <div class="edit">
                                          <button class="btn btn-sm btn-success edit-item-btn"(click)="editList(i)" >Edit</button>
                                      </div>
                                      <div class="remove">
                                          <button class="btn btn-sm btn-danger remove-item-btn"(click)="delete(data.id)">Remove</button>
                                      </div>
                                  </div>
                              </td>
                                
                              
                               
                                
                            </tr>
                        </tbody>
                       
                    </table>
                </div><!--end table-responsive-->

             
               
            </div>
        </div><!--end card-->
    </div><!--end col-->





<!-- deleteRecordModal -->
<!-- <div id="deleteRecordModal" class="modal fade zoomIn" bsModal #deleteRecordModal="bs-modal">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" id="deleteRecord-close" (click)="deleteRecordModal.hide()"></button>
        </div>
        <div class="modal-body p-md-5">
            <div class="text-center">
                <div class="text-danger">
                    <i class="bi bi-trash display-4"></i>
                </div>
                <div class="mt-4">
                    <h3 class="mb-2">Are you sure ?</h3>
                    <p class="text-muted fs-lg mx-3 mb-0">Are you sure you want to remove this record ?</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteRecordModal.hide()">Close</button>
                <button type="button" class="btn w-sm btn-danger btn-hover" id="delete-record" >Yes, Delete It!</button>
            </div>
        </div>
    </div>
</div>
</div> -->