<app-breadcrumbs title="" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>





<div bsModal #showModals="bs-modal" class="modal fade" id="showModals" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"> Update Garages</h5>
                <button type="button" class="btn-close" (click)="showModals.hide()" id="close-modal"></button>
            </div>
            <form  class="py-2" [formGroup]="MessageFormData">

                <div class="p-3">
                    <label class="form-label">Photo</label>
                    <div class="d-flex no-block justify-content-left align-items-left">
                        <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                            <div *ngIf="uploading==true" class="text-left ">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Uploading...</span>
                                </div>
                            </div>
                            <div class="text-left" *ngIf="uploading==false">
                                <img [src]="image_path || emp.picture" width="100px" height="100px"
                                    (click)="fileUploader.click()">
                            </div>
                        </div>


                        <div>
                            <div class="form-group justify-content-center px-3">
                                <input type="file" accept="image/*" class="form-control-sm" #fileUploader
                                    (change)="showPreview($event)"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3 ">
                    <label for="name-field" class="form-label">Site Number</label>
                    <input type="text" class="form-control" id="siteno-field" formControlName="siteno" [(ngModel)]="emp.siteno"
                        required>
                </div>
                <div class="p-3 ">
                    <label for="name-field" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name-field" formControlName="name" [(ngModel)]="emp.name" required>
                </div>
                <div class="p-3 ">
                    <label for="name-field" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone-field" formControlName="phone" [(ngModel)]="emp.phone"
                        required>
                </div>
                <div class="p-3 ">
                    <label for="name-field" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email-field" formControlName="email" [(ngModel)]="emp.email"
                        required>
                </div>
                <div class="p-3">
                    <label for="address-field" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address-field" formControlName="address"
                        [(ngModel)]="emp.address" required>
                </div>
                <div class="p-3">
                    <label for="town-field" class="form-label">Town</label>
                    <input type="text" class="form-control" id="town-field" formControlName="town"
                        [(ngModel)]="emp.town" required>
                </div>
                <div class="p-3">
                    <label for="postcode-field" class="form-label">Postcode</label>
                    <input type="text" class="form-control" id="postcode-field" formControlName="postcode"
                        [(ngModel)]="emp.postcode" required>
                </div>
                <div class="p-3">
                    <label for="about-field" class="form-label">About</label>
                    <textarea class="form-control" id="about-field" formControlName="about" [(ngModel)]="emp.about"
                        required></textarea>
                </div>
                <div class="p-3">
                    <label for="openinghrs-field" class="form-label">Opening Hours</label>
                    <textarea class="form-control" id="openinghrs-field" formControlName="openinghrs"
                        [(ngModel)]="emp.openinghrs" required></textarea>
                </div>
                <div class="p-3">
                    <label for="openinghrs-field" class="form-label"> notes</label>
                    <textarea class="form-control" id="openinghrs-field" formControlName="openinghrs" [(ngModel)]="emp.notes"
                        required></textarea>
                </div>
                

                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" (click)="showModals.hide()">Close</button>
                        <button type="submit" class="btn btn-success" id="add-btn" (click)="update(emp.id)">Update</button>

                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<div bsModal #deleteRecordModal="bs-modal" class="modal fade" id="deleteRecordModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"> Add Garages</h5>
                <button type="button" class="btn-close" (click)="deleteRecordModal.hide()" id="close-modal"></button>
            </div>
            <form   class="py-2" [formGroup]="MessageFormData">

                <div class="p-3">
                    <label class="form-label">Photo</label>
                    <div class="d-flex no-block justify-content-left align-items-left">
                        <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                            <div *ngIf="uploading==true" class="text-left ">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Uploading...</span>
                                </div>
                            </div>
                            <div class="text-left" *ngIf="uploading==false">
                                <img [src]="image_path || emp.picture" width="100px" height="100px"
                                    (click)="fileUploader.click()">
                            </div>
                        </div>


                        <div>
                            <div class="form-group justify-content-center px-3">
                                <input type="file" accept="image/*" class="form-control-sm" #fileUploader
                                    (change)="showPreview($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3 ">
                    <label for="name-field" class="form-label">Site Number</label>
                    <input type="text" class="form-control" id="siteno-field" formControlName="siteno" [(ngModel)]="emp.siteno"
                        required>
                </div>
                <div class="p-3 ">
                    <label for="name-field" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name-field" formControlName="name" [(ngModel)]="emp.name"
                        required>
                </div>
                <div class="p-3 ">
                    <label for="name-field" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone-field" formControlName="phone" [(ngModel)]="emp.phone"
                        required>
                </div>
                <div class="p-3 ">
                    <label for="name-field" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email-field" formControlName="email" [(ngModel)]="emp.email"
                        required>
                </div>


                <div class="p-3">
                    <label for="address-field" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address-field" formControlName="address"
                        [(ngModel)]="emp.address" required>
                </div>
                <div class="p-3">
                    <label for="town-field" class="form-label">Town</label>
                    <input type="text" class="form-control" id="town-field" formControlName="town"
                        [(ngModel)]="emp.town" required>
                </div>
                <div class="p-3">
                    <label for="postcode-field" class="form-label">Postcode</label>
                    <input type="text" class="form-control" id="postcode-field" formControlName="postcode"
                        [(ngModel)]="emp.postcode" required>
                </div>
                <div class="p-3">
                    <label for="about-field" class="form-label">About</label>
                    <textarea class="form-control" id="about-field" formControlName="about" [(ngModel)]="emp.about"
                        required></textarea>
                </div>
                <div class="p-3">
                    <label for="openinghrs-field" class="form-label">Opening Hours</label>
                    <textarea class="form-control" id="openinghrs-field" formControlName="openinghrs"
                        [(ngModel)]="emp.openinghrs" required></textarea>
                </div>
                <div class="p-3">
                    <label for="openinghrs-field" class="form-label"> notes</label>
                    <textarea class="form-control" id="openinghrs-field" formControlName="notes" [(ngModel)]="emp.notes"
                        required></textarea>
                </div>
                

                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" (click)="deleteRecordModal.hide()">Close</button>
                        <button type="submit" class="btn btn-success" id="add-btn" (click)="save()">Add </button>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Garages List </h4>
                </div>
                <div class="card-body">

                    <div id="customerList">
                        <div class="row g-4 mb-3">
                            <div class="col-sm-auto d-flex">
                                <div class="search-box ms-2">
                                    <label for="course-category-input" class="form-label me-2"
                                        style="padding-top: 10px;">Search</label>
                                </div>
                                <div class="search-box ms-2">
                                    
                                        <input type="text"  class="form-control search order-last order-md-first" [(ngModel)]="searchTerm" placeholder="Search by Name" (input)="filteredGarage($event)" >
                                        <i class="ri-search-line search-icon"></i>
                                   
                                    <!-- <input [(ngModel)]="searchTerm" class="form-control" placeholder="Search by Name" (input)="filterGarages()"> -->
                                    <!-- <input [(ngModel)]="searchTerm" class="form-control"
                                        placeholder="Search by Name" list="studentNames" [(ngModel)]="searchTerm" placeholder="Search by Name" (input)="filteredTeacher($event)"> -->
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="d-flex justify-content-sm-end">
                                    <div>
                                        <button type="button" class="btn btn-info add-btn me-2" id="create-btn"
                                            (click)="add()"><i class="ri-add-line align-bottom me-1"></i>Add</button>
                                            <label for="fileInput" class="btn btn-info add-btn me-2">
                                                <i class="ri-add-line align-bottom me-1"></i> Import

                                              </label>
                                              <input type="file" id="fileInput" style="display: none" (change)="onFileChange($event)" accept=".xlsx, .xls" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div bsModal #showModals1="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title">Image Preview</h2>
                                        <button type="button" class="btn-close" (click)="showModals1.hide()"
                                            id="close-modal">

                                        </button>
                                    </div>
                                    <div class="modal-body align-items-center justify-content-center text-center">
                                        <img *ngIf="selectedPreviewImage" [src]="selectedPreviewImage" class="img-fluid"
                                            alt="Preview"
                                            style="max-width: 100%; max-height: 100%; display: inline-block;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div *ngIf="loading" class="text-center">

                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <p>Loading...</p>
                            </div>


                            <div *ngIf="!loading" class="table-responsive table-card mt-3 mb-1">
                                <table class="table align-middle table-nowrap" id="customerTable">
                                    <thead class="table-light">
                                        <tr>
                                           
                                            <th >Name</th>
                                            <th >Phone</th>
                                            <th >Address</th>
                                          
                                            <th >Town</th>
                                            <th >Post Code</th>
                                     
                                            
                                            <th >Services </th>

                                            <th >Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list form-check-all">
                                        <tr *ngFor="let data of  filteredgarage; let i = index;" id="a_{{ data.id }}">

                                            <!-- <td class="date">{{ data.siteno }}</td> -->
                                            <td class="date">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar-xs bg-light rounded p-1 "
                                                        style="height: 50px; width: 50px;">
                                                        <img [src]="data.picture" class="img-fluid" alt="Image"
                                                            style="object-fit: cover; width: 100%; height: 100%;">
                                                    </div>
                                                    {{ data.name }}
                                                </div>
                                           
                                           </td>
                                           <td class="date">{{ data.phone }}<br>
                                            {{ data.email }}</td>


                                            <td class="address-column " > <!-- Set width to 200px and prevent wrapping -->
                                                <div>{{ data.address }}</div>
                                            </td>
                                            
                                      
                                            <td class="date">{{ data.town }}</td>
                                            <td class="customer_name">{{ data.postcode }}</td>

                                            <td>
                                                <div class="edit">
                                                    <button class="btn btn-sm btn-success edit-item-btn"
                                                        (click)="navigateToAddAppointment(data)">Add/View</button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-2">
                                                    <div class="edit">
                                                        <button
                                                            class="btn btn-sm btn-success edit-item-btn" (click)="edit(data.id)">Edit</button>
                                                    </div>
                                                    <div class="remove">
                                                        <button class="btn btn-sm btn-danger remove-item-btn"
                                                            (click)="delet(data.id)">Remove</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>