


<app-breadcrumbs title="" [breadcrumbItems]="breadCrumbItems" ></app-breadcrumbs>

<div class="modal fade" bsModal #showModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Add Van</h5>
                <button type="button" class="btn-close" (click)="showModal.hide()"></button>
            </div>
   
           <form class="tablelist-form" [formGroup]="MessageFormData">
            <div class="modal-body">
                <input type="hidden" name="id" value="" formControlName="ids" />
                <div class="mb-3">
                    <label class="form-label">Photo</label>
                    <div class="d-flex no-block justify-content-left align-items-left">
                        <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                            <div class="text-left">
                                <img [src]="image_path || emp.pic" width="200px" height="150px" (click)="fileUploader.click()">
                            </div>
                        </div>
                        
                        
                        <div>
                            <div class="form-group justify-content-center">
                                <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                            </div>
                        </div>
                    </div>
                </div>
          
                 <div class="mb-3">
                    <label for="customername-field" class="form-label"> Reg. No.</label>
                    <input type="text"  class="form-control" formControlName="regno"  [(ngModel)]="emp.regno" placeholder="Reg. No." required />
                </div>
                <div class="mb-3">
                    <label for="date-field" class="form-label">Make Year</label>
                    <input type="Date" id="date-field" class="form-control" placeholder="Enter Year"   [(ngModel)]="emp.year" formControlName="year"    >
                   
                </div>
                <!-- <div class="mb-3">
                    <label for="phone-field" class="form-label"> Year</label>
                    <input type="text" id="phone-field" class="form-control" placeholder="Enter Year" formControlName="year" [(ngModel)]="emp.year" required />
                </div> -->
                <div class="mb-3">
                    <label for="phone-field" class="form-label"> Total Seats</label>
                    <input type="text" id="phone-field" class="form-control" placeholder="Enter Total Seats" formControlName="seats" [(ngModel)]="emp.seats" required />
                </div>
                <div class="mb-3">
                    <label for="phone-field" class="form-label"> Diesel Level(ltrs)</label>
                    <input type="number" id="phone-field" class="form-control" placeholder="Enter Diesel Level(ltrs)" formControlName="disel" [(ngModel)]="emp.disel" required />
                </div>
                <div class="mb-3">
                    <label for="phone-field" class="form-label"> Engine No.</label>
                    <input type="text" id="phone-field" class="form-control" placeholder="Enter Engine No." formControlName="engno" [(ngModel)]="emp.engno" required />
                </div>

                <div class="mb-3">
                    <label for="customername-field" class="form-label"> Chassis No.</label>
                    <input type="text"  class="form-control" formControlName="chassis"  [(ngModel)]="emp.chassis" placeholder="Enter Chassis No." required />
                </div>
               

            </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" (click)="showModal.hide()">Close</button>
                        <button type="submit" class="btn btn-success" id="add-btn" (click)="save()">Add </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
  </div>
  <div class="modal fade" bsModal #editModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 pt-4">
                <h5 class="modal-title" id="exampleModalLabel">Update Van</h5>
                <button type="button" class="btn-close" (click)="editModal.hide()"></button>
            </div>
   
            <form  class="tablelist-form" [formGroup]="MessageFormData">
                <div class="modal-body">
                    <input type="hidden" name="id" value="" formControlName="ids" />
                    <div class="mb-3">
                        <label class="form-label">Photo</label>
                        <div class="d-flex no-block justify-content-left align-items-left">
                            <div class="m-r-10 no-shrink d-flex justify-content-start align-items-left">
                                <div class="text-left">
                                    <img [src]="image_path || emp.pic" width="200px" height="150px" (click)="fileUploader.click()">
                                </div>
                            </div>
                            
                            
                            <div>
                                <div class="form-group justify-content-center">
                                    <input type="file" accept="image/*" class="form-control-sm" #fileUploader (change)="showPreview($event)">
                                </div>
                            </div>
                        </div>
                    </div>
              
                     <div class="mb-3">
                        <label for="customername-field" class="form-label"> Reg. No.</label>
                        <input type="text"  class="form-control" formControlName="regno"  [(ngModel)]="emp.regno" placeholder="Reg. No." required />
                    </div>
                    <div class="mb-3">
                        <label for="date-field" class="form-label">Make year</label>
                        <input type="Date" id="date-field" class="form-control" placeholder="Enter Year"   [(ngModel)]="emp.year" formControlName="year"    >
                       
                    </div>
                    <!-- <div class="mb-3">
                        <label for="phone-field" class="form-label"> Year</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Year" formControlName="year" [(ngModel)]="emp.year" required />
                    </div> -->
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Total Seats</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Total Seats" formControlName="seats" [(ngModel)]="emp.seats" required />
                    </div>
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Diesel Level(ltrs)</label>
                        <input type="number" id="phone-field" class="form-control" placeholder="Enter Diesel Level(ltrs)" formControlName="disel" [(ngModel)]="emp.disel" required />
                    </div>
                    <div class="mb-3">
                        <label for="phone-field" class="form-label"> Engine No.</label>
                        <input type="text" id="phone-field" class="form-control" placeholder="Enter Engine No." formControlName="engno" [(ngModel)]="emp.engno" required />
                    </div>
    
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"> Chassis No.</label>
                        <input type="text"  class="form-control" formControlName="chassis"  [(ngModel)]="emp.chassis" placeholder="Enter Chassis No." required />
                    </div>
                   

                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="editModal.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn" (click)="update(emp.vanid)">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- modal-content -->
    </div>
  </div>
  <div bsModal #showModals1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Image Preview</h2>
            <button type="button" class="btn-close" (click)="showModals1.hide()" id="close-modal">
       
          </button>
        </div>
        <div class="modal-body align-items-center justify-content-center text-center">
          <img *ngIf="selectedPreviewImage" [src]="selectedPreviewImage" class="img-fluid" alt="Preview" style="max-width: 100%; max-height: 100%; display: inline-block;">
        </div>
      </div>
    </div>
  </div>
 
<div>
<div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"> Van List </h4>
            </div><!-- end card header -->
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div class="search-box ms-2">
                                <input type="text" class="form-control search" placeholder="Search Reg. No." >
                                <i class="ri-search-line search-icon"></i>
                            </div>
                            
                        </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                                <div>
                                    <button type="button" class="btn btn-info add-btn me-2" id="create-btn" (click)="add()"><i class="ri-add-line align-bottom me-1"></i>
                                        Add</button>
                                        <button type="button" class="btn btn-info add-btn me-2" id="create-btn" ><i class="ri-add-line align-bottom me-1"></i>
                                            Import</button>
                                    <!-- <button class="btn btn-subtle-danger" (click)="deleteModal.show()"><i class="ri-delete-bin-2-line"></i></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loading" class="text-center">
                        
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <p>Loading...</p>
                      </div>
                    <div  *ngIf="!loading"class="table-responsive table-card mt-3 mb-1">
                        <table class="table table-hover table-striped align-middle table-nowrap mb-0" id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    <th class="sort" listsortable="date" >Photo</th>
                                    <th class="sort" listsortable="email">Reg. No.</th>
                                    
                                    <th class="sort" listsortable="email">Year</th>
                                    <th class="sort" listsortable="email">Seats</th>
                                    <th class="sort" listsortable="email">Diesel Level(ltrs)</th>
                                    <th class="sort" listsortable="email">Engine No.</th>
                                    <th class="sort" listsortable="customer_name" >Chassis No.
                                    </th>
                                    <th class="sort">Action</th>

                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr *ngFor="let data of Vans;let i = index;" >

                                    
                                    <td class="picture">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-xs bg-light rounded p-1 " style="height: 50px; width: 50px;">
                                                <img src={{data.pic}} alt="" (click)="showImagePreview(data.pic)"class="img-fluid d-block " style="object-fit: cover; width: 100%; height: 100%;">
                                            </div>
                                          
                                        </div>
                                    </td>
                                    <td class="date">{{data.regno}}</td>
                                    <td class="customer_name">{{data.year| date: 'dd/MM/yyyy'}}</td>
                                    <td class="date">{{data.seats}}</td>
                                    <td class="date">{{data.disel}}</td>
                                    <td class="date">{{data.engno}}</td>
                                    <td class="customer_name">{{data.chassis}}</td>
                                   
                                    <td>
                                  <div class="d-flex gap-2">
                                      <div class="edit">
                                          <button class="btn btn-sm btn-success edit-item-btn"(click)="editVan(i)" >Edit</button>
                                      </div>
                                      <div class="remove">
                                          <button class="btn btn-sm btn-danger remove-item-btn"(click)="delet(data.vanid)">Remove</button>
                                      </div>
                                  </div>
                              </td>
                            </tbody>
                        </table>
                       
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <pagination class="pagination-wrap hstack gap-2" [totalItems]="10" [itemsPerPage]="30" ></pagination>
                        </div>
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>
   
