
<app-breadcrumbs title="" [breadcrumbItems]="breadCrumbItems" ></app-breadcrumbs>
<div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Arrival Entry List </h4>
             

            </div>
            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3 ">
                        <div class="col-sm-auto d-flex">
                            <div class="search-box ms-2">
                                <input type="date" id="date-field" class="form-control" [(ngModel)]="searchTerm" (change)="filteredArrival($event);">
                                <i class="ri-search-line search-icon"></i>
                              </div>
                            <!-- <div class="search-box ms-2">
                                <input type="text" class="form-control search" placeholder="Search Route No." >
                                <i class="ri-search-line search-icon"></i>
                            </div> -->
                            
                          
                            </div>
                        <div class="col-sm">
                            <div class="d-flex justify-content-sm-end">
                              
                            </div>
                        </div>
                    </div>
                    <div *ngIf="loading" class="text-center">
                        
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <p>Loading...</p>
                      </div>

                    <div  *ngIf="!loading" class="table-responsive table-card mt-3 mb-1">
                        <table class="table table-hover table-striped align-middle table-nowrap mb-0" id="customerTable">
                            <thead class="table-light">
                                <tr>
                                    <th class="sort" listsortable="customer_name" >Date
                                    </th>
                                    <th class="sort" listsortable="email">Route No.</th>
                                    <th class="sort" listsortable="customer_name" >Arrival Time
                                    </th>
                                    
                                    <th class="sort" listsortable="customer_name" > Driver Name
                                    </th>
                                    <th class="sort" listsortable="email">CCG Present</th>
                                    
                                    <th class="sort" listsortable="date" >Uniform (Driver)</th>
                                    <th class="sort" listsortable="email">Remarks</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all">
                                <tr *ngFor="let data of filteredArrivals ;let i = index;" >
                                    <td class="date">{{data.date}}</td>
                                    <td class="date"><a [routerLink]="['/van/varrival-detail',{routeno:data.rno,driverid:data.driid}]">{{data.rno }}</a></td>
                                    <td class="date" [ngStyle]="{'color': data.arrivaltime < '09:15' ? 'green' : 'red'}" *ngIf="data.arrivaltime">{{data.arrivaltime}}</td>
                                    <td class="customer_name"><a [routerLink]="['/addressbook/driver-detail',{driverid:data.driid}]" >{{data.driname}}</a></td>
                                    <td class="customer_name">{{data.ccgpresent}}</td>
                                    <td class="customer_name">{{data.uniform}}</td>
                                    <td class="date">{{data.remarks}}</td>
                                    
                                   
                                  
                            </tbody>
                        </table>
                       
                    </div>

                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <pagination class="pagination-wrap hstack gap-2" [totalItems]="10" [itemsPerPage]="30" ></pagination>
                        </div>
                    </div>
                </div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>
   


